<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.alarmMsg.mapper.Inno72AlarmMsgMapper">
    <resultMap id="BaseResultMap" type="com.inno72.alarmMsg.model.Inno72AlarmMsg">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="system" jdbcType="VARCHAR" property="system"/>
        <result column="main_type" jdbcType="INTEGER" property="mainType"/>
        <result column="child_type" jdbcType="INTEGER" property="childType"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="machine_Code" jdbcType="VARCHAR" property="machineCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_read" jdbcType="INTEGER" property="isRead"/>
        <result column="read_time" jdbcType="TIMESTAMP" property="readTime"/>
        <result column="read_user_id" jdbcType="VARCHAR" property="readUserId"/>
        <result column="service_id" jdbcType="VARCHAR" property="serviceId"/>
    </resultMap>

    <select id="selectByPage" resultMap="BaseResultMap">
        select am.* from inno72_alarm_msg am
        inner join inno72_machine m on am.machine_code=m.machine_code
		inner join inno72_check_user_machine cum on m.id=cum.machine_id
		where cum.check_user_id=#{checkUserId}
		and am.machine_code = #{machineCode}
		<if test="mainTypes != null">
            and
            <foreach collection="mainTypes" item="item" index="index" open="(" close=")">
                main_type=#{item}
            </foreach>
        </if>
        order by am.is_read,am.create_time desc
    </select>

    <select id="selectAlarmUser" resultMap="BaseResultMap">
        select am.*,cum.check_user_id from inno72_alarm_msg am
        inner join inno72_machine m on am.machine_code=m.machine_code
        inner join inno72_check_user_machine cum on m.id=cum.machine_id
    </select>
    <select id="selectUnReadCount" resultType="java.lang.Integer">
      select count(*) from inno72_alarm_msg am
	  inner join inno72_machine m on am.machine_code=m.machine_code
      inner join inno72_check_user_machine cum on m.id=cum.machine_id
	  where cum.check_user_id=#{checkUserId} and am.machine_code=#{machineCode} and (am.is_read is null or am.is_read=0)
      <if test="mainTypes != null">
          and
          <foreach collection="mainTypes" item="item" index="index" open="(" close=")">
              main_type=#{item}
          </foreach>
      </if>
    </select>
</mapper>