/.idea/
/inno72-backend.iml
/machine-backend/machine-backend.iml
/machine-monitor-backend/machine-monitor-backend.iml
settings
/.DS_Store
/machine-alarm/machine-alarm.iml
/machine-app-backend/machine-app-backend.iml
