/**/.DS_Store
/.idea/
/**/**.iml
/**/target/
/**/.settings
/**/.classpath
/**/.project
/**/WEB-INF
/machine-backend/logs/
/inno72-backend.iml
/machine-backend/machine-backend.iml
/machine-check-app-backend/logs/
/machine-monitor-backend/machine-monitor-backend.iml



