<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.check.mapper.Inno72CheckFaultMapper">
  <resultMap id="BaseResultMap" type="com.inno72.check.model.Inno72CheckFault">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="submit_user" jdbcType="VARCHAR" property="submitUser" />
    <result column="finish_user" jdbcType="VARCHAR" property="finishUser" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="finish_remark" jdbcType="VARCHAR" property="finishRemark" />
    <result column="remind_status" jdbcType="INTEGER" property="remindStatus" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
  
 		SELECT f.id,
 		m.machine_code AS machine_id,
 		submit_user,
 		finish_user,
 		submit_time,
 		finish_time,
 		status,
 		finish_remark,
 		remind_status,
 		CONCAT(IFNULL(ft.name,''),' ',f.remark) AS remark
 		 FROM inno72_check_fault f
 		LEFT JOIN inno72_check_fault_type ft ON ft.CODE = f.type
		LEFT JOIN inno72_machine m ON m.id = f.machine_id
		WHERE 1=1
		<if test="status !=null and status !=''">f.status =#{status} </if>
		<if test="type ==1">
			<![CDATA[ and ( f.submit_time  BETWEEN #{startTime} AND #{endTime} ) ]]>
		</if>
		<if test="type ==2">
			<![CDATA[ and ( f.finish_time  BETWEEN #{startTime} AND #{endTime} ) ]]>
		</if>
		<if test="keyword !=null and keyword !=''"> and ( m.machine_code LIKE '%${keyword}%' or f.finish_user LIKE '%${keyword}%' or f.submit_user LIKE '%${keyword}%')</if>
		ORDER BY f.submit_time DESC
		
  </select>
  
  <resultMap id="ResultFaultDetailMap" extends="BaseResultMap" type="com.inno72.check.vo.Inno72CheckFaultVo">
	    <association property="imgList" resultMap="imgResult" />
	    <association property="answerList" resultMap="answerResult" />
	</resultMap>
	<resultMap id="imgResult" type="String">
 		<result column="image" property="image" />
 	</resultMap>
 	<resultMap id="answerResult" type="String">
  		<result column="answer" property="answer" />
 	</resultMap>
  <select id="selectFaultDetail" parameterType="java.util.Map" resultMap="ResultFaultDetailMap">
  
 		SELECT f.id,
 		m.machine_code AS machine_id,
 		submit_user,
 		finish_user,
 		submit_time,
 		finish_time,
 		finish_remark,
		fr.remark AS answer,
		CONCAT(#{path},img.image) AS image
 		 from inno72_check_fault f
		LEFT JOIN inno72_machine m ON m.id = f.machine_id
		LEFT JOIN inno72_check_fault_remark fr ON fr.fault_id = f.id
		LEFT JOIN inno72_check_fault_image img ON img.fault_id = f.id
		WHERE f.id=#{id}
		ORDER BY fr.create_time
  </select>
  
</mapper>