<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.check.mapper.Inno72CheckSignInMapper">
  <resultMap id="BaseResultMap" type="com.inno72.check.model.Inno72CheckSignIn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="check_user_id" jdbcType="VARCHAR" property="checkUserId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <resultMap id="SignInResultMap" type="com.inno72.check.vo.Inno72CheckUserVo">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="enterprise" jdbcType="VARCHAR" property="enterprise" />
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
    
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
     <result column="localeName" jdbcType="VARCHAR" property="localeName" />
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="SignInResultMap">
		SELECT
			sin.id,
			u.NAME,
			u.phone,
			u.enterprise,
			m.machine_code,
			sin.create_time,
			CONCAT( area.province, area.city, area.district, if(area.circle='其他','',area.circle),IFNULL( l.mall,""),IFNULL( l.name,"")) AS localeName
		FROM
			inno72_check_sign_in sin
			LEFT JOIN inno72_check_user u ON u.id = sin.check_user_id
			LEFT JOIN inno72_machine m ON m.id = sin.machine_id
			LEFT JOIN inno72_locale l ON l.id = m.locale_id
			LEFT JOIN inno72_admin_area area ON area.code = l.area_code
			where 1=1
			<if test="code !=null and code !=''">and LEFT(l.area_code,#{num}) = #{code}</if>
			<if test="keyword !=null and keyword !='' ">
				AND ( u.name LIKE '%${keyword}%' 
				or u.phone LIKE '%${keyword}%' 
				or u.enterprise LIKE '%${keyword}%'
				)
			</if>
			ORDER BY sin.create_time DESC
  </select>
  
  
  
  
</mapper>