<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode"/>
    <result column="goodsId" jdbcType="VARCHAR" property="goodsId"/>
    <result column="goodsStatus" jdbcType="INTEGER" property="goodsStatus"/>
    <result column="machineCode" jdbcType="VARCHAR" property="machineCode"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <association property="checkUserList" resultMap="CheckUserList"/>
  </resultMap>

  <resultMap id="CheckUserList" type="com.inno72.check.model.Inno72CheckUser">
    <result column="checkUserId" jdbcType="VARCHAR" property="id"/>
    <result column="checkUserName" jdbcType="VARCHAR" property="name"/>
    <result column="checkUserPhone" jdbcType="VARCHAR" property="phone"/>
  </resultMap>

  <sql id="Column_List">
      ch.id,ch.code,ch.name,ch.status,ch.machine_id,ch.parent_code,ch.volume_count,ch.is_delete,
      ch.goods_count,ch.create_id,ch.create_time,ch.update_id,ch.update_time,
      cg.goods_id goodsId,
      cg.is_delete goodsStatus,
      goods.name goodsName,
      goods.code goodsCode,
      m.machine_code machineCode
  </sql>

  <select id="selectByParam" resultMap="BaseResultMap">
    select <include refid="Column_List"/>
    from inno72_supply_channel ch
    left join inno72_supply_channel_goods cg on ch.id=cg.supply_channel_id
    left join inno72_goods goods on cg.goods_id=goods.id
    left join inno72_machine m on ch.machine_id=m.id
    <where>
      <if test="code != null">
        and ch.code = #{code}
      </if>
      <if test="machineId != null">
        and ch.machine_id = #{machineId}
      </if>
      <if test="parentCode != null">
        and ch.parent_code = #{parentCode}
      </if>
      and ch.is_delete=0
    </where>
    limit 1
  </select>

  <select id="selectListByParam" resultMap="BaseResultMap">
      select <include refid="Column_List"/>
      from inno72_supply_channel ch
      left join inno72_supply_channel_goods cg on ch.id=cg.supply_channel_id
      left join inno72_goods goods on cg.goods_id=goods.id
      left join inno72_machine m on ch.machine_id=m.id
    <where>
        <if test="code != null">
            and ch.code = #{code}
        </if>
        <if test="machineId != null">
            and ch.machine_id = #{machineId}
        </if>
      <if test="goodsCodes != null">
        and
        <foreach collection="goodsCodes" index="index" item="item" separator="or" open="(" close=")">
          cg.goods_id =#{item,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="codes != null">
        and
        <foreach collection="codes" item="item" separator="or" open="(" close=")">
          ch.code = #{item,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="status != null">
        and ch.status = #{status}
      </if>
      <if test="machineCode != null">
          and m.machine_code = #{machineCode}
      </if>
    </where>
    order by ch.code * 1
  </select>

    <update id="subCount">
        update inno72_supply_channel set goods_count = goods_count-1,
        update_time=#{updateTime}
        where machine_id=#{machineId} and code=#{code}
    </update>


    <sql id="Column_Get">
        id,code,name,status,machine_id,parent_code,volume_count,is_delete,goods_count,create_id,create_time,update_id,update_time
    </sql>

    <update id="updateByParam">
        update inno72_supply_channel
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="parentCode != null">
                parent_code = #{parentCode},
            </if>
            <if test="volumeCount != null">
                volume_count = #{volumeCount},
            </if>
            <if test="goodsCount != null">
                goods_count = #{goodsCount},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where machine_id=#{machineId} and code=#{code}
    </update>


    <update id="updateListByParam">
        update inno72_supply_channel
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="parentCode != null">
                parent_code = #{parentCode},
            </if>
            <if test="volumeCount != null">
                volume_count = #{volumeCount},
            </if>
            <if test="goodsCount != null">
                goods_count = #{goodsCount},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where machine_id=#{machineId} and
        <foreach collection="codes" index="index" item="item" separator="or" open="(" close=")">
            code =#{item,jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="selectTask" resultMap="BaseResultMap">
        select * from (
        SELECT
        sum(sc.goods_count) goods_count,
        goods.name goodsName,
        m.machine_code machineCode,
        CONCAT(
            aa.province,
            aa.city,
            aa.district,
            IF(aa.circle = '其他' OR aa.circle IS NULL,'',aa.circle),
            IFNULL( l.mall, '' ),
            IFNULL( l.NAME, '' )
        ) AS localeStr,
        ap.start_time,
        ap.end_time
        FROM
        inno72_supply_channel_goods scg
        LEFT JOIN inno72_supply_channel sc ON scg.supply_channel_id = sc.id
        LEFT JOIN inno72_goods goods ON scg.goods_id = goods.id
        LEFT JOIN inno72_machine m ON sc.machine_id = m.id
        LEFT JOIN inno72_locale l ON l.id = m.locale_id
        LEFT JOIN inno72_admin_area aa ON aa.CODE = l.area_code
        LEFT JOIN inno72_activity_plan_machine apm ON m.id = apm.machine_id
        LEFT JOIN inno72_activity_plan ap ON apm.activity_plan_id = ap.id
        WHERE
        m.machine_status = 4
        AND now( ) BETWEEN ap.start_time
        AND ap.end_time
        AND sc.is_delete = 0
        GROUP BY
        m.machine_code,
        scg.goods_id,
        ap.id
        ) a where a.goods_count is not null
    </select>
    <select id="selectLockGoods" resultMap="BaseResultMap">
        select * from (
        SELECT
        sum( sc.goods_count ) goods_count,
        goods.name goodsName,
        m.machine_code machineCode,
        CONCAT(
            aa.province,
            aa.city,
            aa.district,
            IF(aa.circle = '其他' OR aa.circle IS NULL,'',aa.circle),
            IFNULL(l.mall,""),
            IFNULL(l.name,"")
        ) AS localeStr
        FROM
        inno72_supply_channel sc
        INNER JOIN inno72_supply_channel_goods scg ON sc.id = scg.supply_channel_id
        INNER JOIN inno72_goods goods ON scg.goods_id = goods.id
        LEFT JOIN inno72_machine m ON sc.machine_id = m.id
        LEFT JOIN inno72_locale l ON l.id = m.locale_id
        LEFT JOIN inno72_admin_area aa ON aa.CODE = l.area_code
        LEFT JOIN inno72_activity_plan_machine apm ON m.id = apm.machine_id
        LEFT JOIN inno72_activity_plan ap ON apm.activity_plan_id = ap.id
        WHERE
        m.machine_status = 4
        AND now( ) BETWEEN ap.start_time
        AND ap.end_time
        AND scg.goods_id = #{goodsId}
        AND sc.is_delete = 0
        AND sc.machine_id = #{machineId}
        ) a where a.goods_count is not null
    </select>


    <select id="selectPaiyangLockGoods" resultMap="BaseResultMap">
        select * from (
        SELECT
        sum(sc.goods_count) goods_count,
        goods.name goodsName,
        m.machine_code machineCode,
        CONCAT(
        aa.province,
        aa.city,
        aa.district,
        if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,''),IFNULL( l.name,'')
        ) AS localeStr
        from inno72_supply_channel sc
        INNER JOIN inno72_supply_channel_goods scg ON sc.id = scg.supply_channel_id
        INNER JOIN inno72_goods goods ON scg.goods_id = goods.id
        INNER JOIN inno72_machine m ON sc.machine_id = m.id
        INNER JOIN inno72_interact_machine im ON m.id = im.machine_id
        INNER JOIN inno72_interact_machine_time imt ON im.id = imt.interact_machine_id AND now( ) BETWEEN imt.start_time AND imt.end_time
        INNER JOIN inno72_interact_machine_goods img ON goods.id = img.goods_id and img.interact_machine_id=im.id AND now( ) BETWEEN img.start_time AND img.end_time
        LEFT JOIN inno72_locale l ON l.id = m.locale_id
        LEFT JOIN inno72_admin_area aa ON aa.CODE = l.area_code
        WHERE
      m.machine_status = 4
      AND scg.goods_id = #{goodsId}
      AND sc.is_delete=0
      AND sc.machine_id=#{machineId}
      ) a where a.goods_count is not null
    </select>


    <select id="selectLockGoodsList" resultType="com.inno72.model.GoodsBean">
        select * from (
        SELECT
        sum( sc.goods_count ) totalCount,
        goods.NAME goodsName,
        goods.id goodsId
        FROM
        inno72_supply_channel sc
        INNER JOIN inno72_supply_channel_goods scg ON sc.id = scg.supply_channel_id
        INNER JOIN inno72_goods goods ON scg.goods_id = goods.id
        LEFT JOIN inno72_machine m ON sc.machine_id = m.id
        LEFT JOIN inno72_activity_plan_machine apm ON m.id = apm.machine_id
        LEFT JOIN inno72_activity_plan ap ON apm.activity_plan_id = ap.id
        WHERE
        m.machine_status = 4
        AND now( ) BETWEEN ap.start_time
        AND ap.end_time
        AND sc.machine_id = #{machineId}
        AND sc.is_delete = 0
        GROUP BY
        goods.id
        ) a where a.totalCount is not null
    </select>
    <select id="selectPaiyangLockGoodsList" resultType="com.inno72.model.GoodsBean">
        select * from (
        SELECT
        sum( sc.goods_count ) totalCount,
        goods.NAME goodsName,
        goods.id goodsId
        FROM
        inno72_supply_channel sc
        INNER JOIN inno72_supply_channel_goods scg ON sc.id = scg.supply_channel_id
        INNER JOIN inno72_goods goods ON scg.goods_id = goods.id
        INNER JOIN inno72_machine m ON sc.machine_id = m.id
        INNER JOIN inno72_interact_machine im ON m.id = im.machine_id
        INNER JOIN inno72_interact_machine_time imt ON im.id = imt.interact_machine_id
        AND now( ) BETWEEN imt.start_time
        AND imt.end_time
        INNER JOIN inno72_interact_machine_goods img ON goods.id = img.goods_id
        and img.interact_machine_id=im.id
        AND now( ) BETWEEN img.start_time
        AND img.end_time
        WHERE
        m.machine_status = 4
        AND now( )
        AND sc.machine_id = #{machineId}
        AND sc.is_delete=0
        GROUP BY
        goods.id
        ) a where a.totalCount is not null
    </select>

    <select id="selectExceptionList" resultMap="BaseResultMap">
        select * from inno72_supply_channel
        where is_delete = 1
    </select>

    <update id="updateOpen">
        update inno72_supply_channel
        set is_delete=0
        where machine_id=#{machineId}
        and code = #{code}
    </update>
</mapper>