<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72MachineMapper">
	<resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72Machine">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="machine_name" jdbcType="VARCHAR" property="machineName" />
		<result column="locale_id" jdbcType="VARCHAR" property="localeId" />
		<result column="tag" jdbcType="VARCHAR" property="tag" />
		<result column="create_id" jdbcType="VARCHAR" property="createId" />
		<result column="update_id" jdbcType="VARCHAR" property="updateId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="machine_status" jdbcType="INTEGER" property="machineStatus" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="inside_time" jdbcType="TIMESTAMP" property="insideTime"/>
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
        <result column="wifi_pwd" jdbcType="VARCHAR" property="wifiPwd"/>
		<association property="supplyChannelVoList" resultMap="supplyChannelVoList"/>
		<association property="checkUserVoList" resultMap="checkUserVoList"/>
		<association property="faultVoList" resultMap="faultVoList"/>
		<association property="signInList" resultMap="signInList"/>
	</resultMap>

	<resultMap id="supplyChannelVoList" type="com.inno72.machine.vo.SupplyChannelVo">
		<result column="channelCode" jdbcType="VARCHAR" property="channelCode" />
		<result column="channelName" jdbcType="VARCHAR" property="channelName" />
		<result column="channelStatus" jdbcType="INTEGER" property="channelStatus" />
		<result column="machine_id" jdbcType="VARCHAR" property="machineId" />
		<result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
		<result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
		<result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
		<result column="goodsId" jdbcType="VARCHAR" property="goodsId"/>
	</resultMap>

	<resultMap id="checkUserVoList" type="com.inno72.check.vo.CheckUserVo">
		<result column="checkUserId" jdbcType="VARCHAR" property="id"/>
		<result column="checkUserName" jdbcType="VARCHAR" property="name"/>
		<result column="checkUserPhone" jdbcType="VARCHAR" property="phone"/>
	</resultMap>

	<resultMap id="faultVoList" type="com.inno72.check.vo.FaultVo">
		<result column="faultId" jdbcType="VARCHAR" property="id"/>
		<result column="faultCode" jdbcType="VARCHAR" property="code"/>
		<result column="faultStatus" jdbcType="INTEGER" property="status"/>
		<result column="faultType" jdbcType="VARCHAR" property="type"/>
	</resultMap>

	<resultMap id="signInList" type="com.inno72.check.model.Inno72CheckSignIn">
		<result column="signInId" jdbcType="VARCHAR" property="id"/>
		<result column="cTime" jdbcType="TIMESTAMP" property="createTime"/>
	</resultMap>

	<select id="getMachine" resultMap="BaseResultMap">
		select m.*,
		sc.code channelCode,
		sc.name channelName,
		sc.status channelStatus,
		sc.machine_id,
		sc.parent_code,
		sc.volume_count,
		sc.goods_count,
		CONCAT(
		aa.province,
		aa.city,
		aa.district,
		if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
		) AS localeStr,
		scg.goods_id goodsId
		from inno72_machine m
		inner join inno72_machine_goods mg on m.id=mg.machine_id
		inner join inno72_check_user_machine cum on m.id=cum.machine_id
		inner join inno72_supply_channel sc on cum.machine_id = sc.machine_id
		inner JOIN inno72_locale l ON l.id = m.locale_id
        inner JOIN inno72_admin_area aa ON aa.CODE = l.area_code
        inner join inno72_supply_channel_goods scg on sc.id=scg.supply_channel_id
		where m.machine_status=4 and cum.check_user_id=#{checkUserId,jdbcType=VARCHAR}
		and sc.status=0 and sc.is_delete=0
	</select>



	<select id="getMachineByLackGoods" resultMap="BaseResultMap">
		select
		m.*,
		sc.code channelCode,
		sc.name channelName,
		sc.status channelStatus,
		sc.machine_id,
		sc.parent_code,
		sc.volume_count,
		sc.goods_count,
		CONCAT(
		aa.province,
		aa.city,
		aa.district,
		if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
		) AS localeStr
		from inno72_machine m
		inner join inno72_machine_goods mg on mg.machine_id=m.id
		inner join inno72_check_user_machine cum on m.id=cum.machine_id
		inner join inno72_check_user cu on cum.check_user_id=cu.id
		inner join inno72_supply_channel sc on sc.machine_id=m.id
		inner join inno72_supply_channel_goods scg on scg.supply_channel_id=sc.id
		inner join inno72_locale l on m.locale_id=l.id
		inner join inno72_admin_area aa on aa.code=l.area_code
		where m.machine_status=4 and cu.id=#{checkUserId,jdbcType=VARCHAR}
		and sc.status=0 and sc.is_delete=0 and scg.goods_id=#{goodsId}
	</select>

	<select id="machineList" resultMap="BaseResultMap">
		select
		m.*,
		cf.code faultCode,
		cf.id faultId,
		cf.status faultStatus,
		cf.type faultType,
		CONCAT(
		aa.province,
		aa.city,
		aa.district,
		if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
		) AS localeStr,
		csi.id signInId,
		csi.create_time cTime,
		sc.code channelCode,
		sc.name channelName,
		sc.status channelStatus,
		sc.machine_id,
		sc.parent_code,
		sc.volume_count,
		sc.goods_count
		from inno72_machine m
		inner join inno72_check_user_machine cum on cum.machine_id=m.id
		inner join inno72_locale l on m.locale_id=l.id
		inner join inno72_admin_area aa on aa.code=l.area_code
		left join inno72_check_fault cf on m.id=cf.machine_id and cf.status in (1,2)
		left join inno72_check_sign_in csi on m.id=csi.machine_id
		and date_format(csi.create_time,'%Y%M%D') = date_format(CURRENT_DATE,'%Y%M%D')
		and csi.check_user_id=#{checkUserId,jdbcType=VARCHAR}
		left join inno72_supply_channel sc on m.id = sc.machine_id
		left join inno72_supply_channel_goods scg on sc.id=scg.supply_channel_id
		where m.machine_status=4 and cum.check_user_id=#{checkUserId,jdbcType=VARCHAR}
		and sc.status=0 and sc.is_delete=0
	</select>

	<select id="selectByParam" resultMap="BaseResultMap">
        select
        m.*,
        cu.id checkUserId,
        cu.name checkUserName,
        cu.phone checkUserPhone,
        CONCAT(
        aa.province,
        aa.city,
        aa.district,
        if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
        ) AS localeStr
        from inno72_machine m
        inner join inno72_check_user_machine cum on m.id=cum.machine_id
        inner join inno72_check_user cu on cum.check_user_id=cu.id
        inner join inno72_locale l on l.id=m.locale_id
        inner join inno72_admin_area aa on aa.code = l.area_code
        where m.machine_status=4 and cu.id=#{checkUserId,jdbcType=VARCHAR}
		<if test="machineIds != null">
			AND
			<foreach collection="machineIds" open="(" close=")" separator="or" item="item" index="index">
				m.id = #{item,jdbcType=VARCHAR}
			</foreach>

		</if>
	</select>
	<select id="getMachineByCode" resultMap="BaseResultMap">
		select
		m.*,
		CONCAT(
		aa.province,
		aa.city,
		aa.district,
		if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
		) AS localeStr
		from inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area aa ON aa.CODE = l.area_code
		where m.machine_code=#{machineCode}
		limit 1
	</select>

    <select id="getMachineById" resultMap="BaseResultMap">
		select
		m.*,
		CONCAT(
		aa.province,
		aa.city,
		aa.district,
		if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
		) AS localeStr
		from inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area aa ON aa.CODE = l.area_code
		where m.id=#{machineId}
		limit 1
	</select>
</mapper>
