<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72GoodsMapper">
    <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72Goods">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
        <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_id" jdbcType="VARCHAR" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="VARCHAR" property="updateId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association property="supplyChannelVoList" resultMap="supplyChannelVoList"/>
    </resultMap>
    <resultMap id="supplyChannelVoList" type="com.inno72.machine.vo.SupplyChannelVo">
        <result column="channelCode" jdbcType="VARCHAR" property="channelCode" />
        <result column="channelName" jdbcType="VARCHAR" property="channelName" />
        <result column="channelStatus" jdbcType="INTEGER" property="channelStatus" />
        <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
        <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
        <result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
        <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    </resultMap>
    <select id="getLackGoods" resultMap="BaseResultMap">
        select goods.*,
        sc.machine_id,
        sc.code channelCode,
        sc.volume_count,
        sc.goods_count,
        sc.name channelName,
        sc.status channelStatus
        from inno72_goods goods
        inner join inno72_supply_channel_goods scg on scg.goods_id=goods.id
        inner join inno72_supply_channel sc on scg.supply_channel_id=sc.id
        inner join inno72_machine m on sc.machine_id=m.id
        inner join inno72_check_user_machine sum on sum.machine_id=m.id
        inner join inno72_check_user cu on sum.check_user_id=cu.id
        inner join view_machine_goods mg on mg.machine_id=m.id
        where cu.id=#{checkUserId} and m.machine_status=4 and m.machine_type != 2 and sc.is_delete=0 and sc.is_remove=0
        <if test="keyword != null">
            and goods.name like '%${keyword}%'
        </if>
    </select>

    <select id="selectByMachineId" resultMap="BaseResultMap">
        select goods.* from inno72_goods goods
		inner join view_machine_goods mg on goods.id=mg.goods_id
        where mg.machine_id=#{machineId}
    </select>

    <select id="selectPaiyangByMachineId" resultMap="BaseResultMap">
        select goods.*
        from inno72_interact_machine_goods mg
        inner join inno72_goods goods on goods.id=mg.goods_id
        inner join inno72_interact_machine im on mg.interact_machine_id=im.id
        inner join inno72_interact_machine_time mt on im.id=mt.interact_machine_id and now() BETWEEN mt.start_time AND mt.end_time
        where im.machine_id=#{machineId} and now() BETWEEN mg.start_time and mg.end_time
    </select>
</mapper>