<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelOrderMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannelOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="subCount" jdbcType="INTEGER" property="subCount"/>
  </resultMap>


  <resultMap id="WorkOrderVoList" type="com.inno72.machine.vo.WorkOrderVo">
    <result column="batchNo" jdbcType="VARCHAR" property="batchNo"/>
    <result column="machine_id" jdbcType="VARCHAR" property="machineId"/>
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="createDate" jdbcType="VARCHAR" property="createDate"/>
    <collection property="historyList" resultMap="historyList"></collection>
  </resultMap>

  <resultMap id="historyList" type="com.inno72.machine.model.Inno72SupplyChannelHistory">
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="subCount" jdbcType="INTEGER" property="subCount"/>
  </resultMap>

    <select id="selectByPage" resultMap="WorkOrderVoList">
        select
        sco.id batchNo,
        sco.machine_id,
        sco.create_time,
        m.machine_code,
        CONCAT(
          aa.province,
          aa.city,
          aa.district,
          if(aa.circle='其他' or aa.circle is null,'',aa.circle),IFNULL(l.mall,""),IFNULL( l.name,'')
        ) AS localeStr
        from inno72_supply_channel_order sco
        inner join inno72_machine m on sco.machine_id=m.id
        inner join inno72_check_user_machine cum on m.id=cum.machine_id
        inner join inno72_locale l on l.id = m.locale_id
        inner join inno72_admin_area aa on aa.code = l.area_code
        where cum.check_user_id=#{checkUserId}
        <if test="keyword != null">
            and (
            m.machine_code like CONCAT('%','${keyword}','%')
            or aa.circle like CONCAT('%','${keyword}','%')
            or aa.district like CONCAT('%','${keyword}','%')
            )
        </if>
        <if test="beginTime != null and endTime != null">
          and sco.create_time between #{beginTime} and #{endTime}
        </if>
        order by sco.create_time desc
    </select>

    <select id="selectOrderByMonth" resultMap="WorkOrderVoList">
        select
        co.create_time,
        DATE_FORMAT(co.create_time,'%Y-%m-%d') creatDate,
        co.machine_id,
        m.machine_code
        from inno72_supply_channel_order co
        inner join inno72_machine m on co.machine_id=m.id
        inner join inno72_check_user_machine cum on m.id=cum.machine_id
        where co.user_id=#{checkUserId}
        <if test="machineId != null">
            and m.id = #{machineId}
        </if>
        <if test="findTime != null">
            and DATE_FORMAT(co.create_time,'%Y%M') = DATE_FORMAT(#{findTime},'%Y%M')
        </if>
        <if test="findTime == null">
            and DATE_FORMAT(co.create_time,'%Y%M') = DATE_FORMAT(CURRENT_DATE,'%Y%M')
        </if>
        group by DATE_FORMAT(co.create_time,'%Y%M%D')
        order by co.create_time
    </select>


    <select id="selectWorkOrderDetail" resultMap="WorkOrderVoList">
        select
        co.id batchNo,
        goods.name goodsName,
        sum((sch.after_count-sch.before_count)) subCount
        from inno72_supply_channel_order co
        left join inno72_supply_channel_history sch on co.id=sch.batch_no
        inner join inno72_goods goods on sch.goods_id=goods.id
        where
        co.user_id=#{checkUserId}
        and co.machine_id=#{machineId}
        and sch.after_count != sch.before_count
        and DATE_FORMAT(co.create_time,'%Y%M%D') = DATE_FORMAT(#{findTime},'%Y%M%D')
        group by co.id,goods.id
        order by co.create_time
    </select>
</mapper>