<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode"/>
  </resultMap>



  <update id="subCount">
    update inno72_supply_channel set goods_count = goods_count-1
    where merchant_id=#{merchantId} and code=#{code}
  </update>


  <sql id="Column_List">
      t1.id,t1.code,t1.name,t1.status,t1.merchant_id,t1.parent_code,t1.volume_count,
      t1.goods_count,t1.create_id,t1.create_time,t1.update_id,t1.update_time,t2.goods_id goodsCode,
      t3.name goodsName
  </sql>


  <select id="selectByParam" resultMap="BaseResultMap">
    select <include refid="Column_List"/>
    from inno72_supply_channel t1 left join inno72_supply_channel_goods t2
    on t1.id=t2.supply_channel_id left join inno72_goods t3
    on t2.goods_id=t3.id
    <where>
      <if test="code != null">
        and t1.code = #{code}
      </if>
      <if test="merchantId != null">
        and t1.merchant_id = #{merchantId}
      </if>
    </where>
  </select>

  <select id="selectListByParam" resultMap="BaseResultMap">
    select <include refid="Column_List"/>
    from inno72_supply_channel t1 left join inno72_supply_channel_goods t2
    on t1.id=t2.supply_channel_id left join inno72_goods t3
    on t2.goods_id=t3.id
    <where>
      <if test="code != null">
        and t1.code = #{code}
      </if>
      <if test="merchantId != null">
        and t1.merchant_id = #{merchantId}
      </if>
      <if test="goodsCodes != null">
        and
        <foreach collection="goodsCodes" index="index" item="item" separator="or" open="(" close=")">
          t2.goods_id =#{item,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="codes != null">
        and
        <foreach collection="codes" item="item" separator="or" open="(" close=")">
          t1.code = #{item,jdbcType=VARCHAR}
        </foreach>
      </if>
    </where>
  </select>


  <update id="updateByParam">
    update inno72_supply_channel
    <set>
      <if test="name != null">
        name=#{name},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode},
      </if>
      <if test="volumeCount != null">
        volume_count = #{volumeCount},
      </if>
      <if test="goodsCount != null">
        goods_count = #{goodsCount},
      </if>
      <if test="updateId != null">
        update_id = #{updateId},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where merchant_id=#{merchantId} and code=#{code}
  </update>

  <update id="updateChild">
    update inno72_supply_channel
    <set>
    <if test="name != null">
      name=#{name},
    </if>
    <if test="status != null">
      status = #{status},
    </if>
    <if test="volumeCount != null">
      volume_count = #{volumeCount},
    </if>
    <if test="goodsCount != null">
      goods_count = #{goodsCount},
    </if>
    <if test="updateId != null">
      update_id = #{updateId},
    </if>
    <if test="updateTime != null">
      update_time = #{updateTime},
    </if>
    </set>
    where merchant_id=#{merchantId} and parent_code=#{parentCode}
  </update>


</mapper>