<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72LocaleMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72Locale">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="mall" jdbcType="VARCHAR" property="mall" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="VoResultMap" type="com.inno72.machine.vo.Inno72LocaleVo" extends="BaseResultMap">
    
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="circle" jdbcType="VARCHAR" property="circle" />
    <result column="userNum" jdbcType="INTEGER" property="userNum" />
    <result column="areaName" jdbcType="INTEGER" property="areaName" />
    
    
    
  </resultMap>
  
  <select id="selectById" parameterType="String" resultMap="VoResultMap">
		SELECT * FROM inno72_locale where id=#{id}
  </select>

	<select id="selectByPage" parameterType="java.util.Map" resultMap="VoResultMap">
	SELECT * FROM (
		SELECT locale.*,
		CONCAT(area.province, area.city, area.district,area.circle) AS areaName,
		( SELECT count( 1 ) FROM inno72_machine WHERE locale_id = locale.id ) AS userNum
		FROM inno72_locale locale
		LEFT JOIN inno72_admin_area area ON area.code =locale.area_code
		where is_delete=0
		<if test="code !=null and code !=''">and LEFT(locale.area_code,#{num}) = LEFT(#{code},#{num})</if>
		<if test="keyword !=null and keyword !='' ">
			AND ( locale.manager LIKE '%${keyword}%' 
			or locale.mobile LIKE '%${keyword}%' 
			or locale.mall LIKE '%${keyword}%' 
			or area.province LIKE '%${keyword}%' 
			or area.city LIKE '%${keyword}%' 
			or area.district LIKE '%${keyword}%' 
			or area.circle LIKE '%${keyword}%' 
			)
		</if>
	) t
	ORDER BY t.update_time DESC
  </select>
  
  <select id="selectIsUseing" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_machine where locale_id=#{id}
  </select>
  
   <select id="selectIsUseingPlan" parameterType="String" resultType="int">
		SELECT
			count(1)
		FROM
			inno72_locale l
			LEFT JOIN inno72_machine m ON m.locale_id = l.id
			LEFT JOIN inno72_activity_plan_machine pm ON pm.machine_id = m.id
			LEFT JOIN inno72_activity_plan p ON p.id = pm.activity_plan_id 
		WHERE
			l.id = #{id} and <![CDATA[NOW() <= p.end_time ]]>
  </select>
  
  

    <select id="selectLocaleByMachineCode" parameterType="String" resultType="com.inno72.machine.vo.MachineLocaleInfo">
        SELECT
        machine_code AS machineCode,
        CONCAT(
        area.province, area.city, area.district, if(area.circle='其他','',area.circle),IFNULL( l.mall,""),IFNULL(
        l.name,"") ) AS localeStr
        FROM inno72_machine m
        LEFT JOIN inno72_locale l ON l.id = m.locale_id
        LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
        WHERE
        m.machine_code IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>