<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelHistoryMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannelHistory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="supply_channel_id" jdbcType="VARCHAR" property="supplyChannelId" />
    <result column="before_count" jdbcType="INTEGER" property="beforeCount" />
    <result column="after_count" jdbcType="INTEGER" property="afterCount" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="subCount" jdbcType="INTEGER" property="subCount"/>
  </resultMap>





  <select id="getSupplyOrderGoods" resultMap="BaseResultMap">
    select
    hi.*,
    (hi.after_count-hi.before_count) subCount,
    m.machine_code,
    goods.name goodsName,
    CONCAT(
    aa.province,
    aa.city,
    aa.district,IFNULL(l.mall,""),IFNULL( l.name,'')
    ) AS localeStr
    from inno72_supply_channel_history hi
    inner join inno72_machine m on hi.machine_id=m.id
    inner JOIN inno72_locale l ON l.id = m.locale_id
    inner JOIN inno72_admin_area aa ON aa.CODE = l.area_code
    inner join inno72_goods goods on hi.goods_id=goods.id
    where hi.batch_no=#{batchNo}
    and hi.after_count>0
    and hi.after_count != hi.before_count
  </select>
  
  <select id="selectDayGoodsCount" resultType="java.util.Map">
  	SELECT
		s.id,m.machine_code AS machineCode,DATE_FORMAT(s.create_time,'%Y-%m-%d') AS date,
		CONCAT(area.province,area.city,area.district,IFNULL(l.mall,""),IFNULL( l.name,'')) AS localeStr
	FROM
		inno72_supply_channel_order s 
		LEFT JOIN inno72_machine m ON m.id=s.machine_id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
	  	LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
	WHERE
	  <if test="code !=null and code !=''">and LEFT(l.area_code,#{num}) = LEFT(#{code},#{num})</if>
	  <if test="beginTime != null and beginTime !=''  "> and s.create_time <![CDATA[>]]> #{beginTime} </if>
      <if test="endTime != null and endTime !='' "> and s.create_time <![CDATA[<=]]> #{endTime} </if>
      <if test="keyword != null and keyword !='' ">
       AND (m.machine_code LIKE '%${keyword}%' 
			or l.mall LIKE '%${keyword}%' 
			or JSON_EXTRACT(l.tag, '$.tags') LIKE '%${keyword}%'  
			or l.name LIKE '%${keyword}%' 
			or area.province LIKE '%${keyword}%' 
			or area.city LIKE '%${keyword}%' 
			or area.district LIKE '%${keyword}%' )
      </if>
	GROUP BY s.machine_id,date ORDER BY date DESC
  </select>
  
  <select id="selectDayGoodsList" resultType="java.util.Map">
  	SELECT
		s.id,m.machine_id AS machineId,m.machine_code AS machineCode,DATE_FORMAT(s.create_time,'%Y-%m-%d') AS date,
		CONCAT(area.province,area.city,area.district,IFNULL(l.mall,""),IFNULL( l.name,'')) AS localeStr
	FROM
		inno72_supply_channel_order s 
		LEFT JOIN inno72_machine m ON m.id=s.machine_id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
	  	LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
	WHERE
	  <if test="code !=null and code !=''">and LEFT(l.area_code,#{num}) = LEFT(#{code},#{num})</if>
	  <if test="beginTime != null and beginTime !=''  "> and s.create_time <![CDATA[>]]> #{beginTime} </if>
      <if test="endTime != null and endTime !='' "> and s.create_time <![CDATA[<=]]> #{endTime} </if>
      <if test="keyword != null and keyword !='' ">
       AND (m.machine_code LIKE '%${keyword}%' 
			or l.mall LIKE '%${keyword}%' 
			or JSON_EXTRACT(l.tag, '$.tags') LIKE '%${keyword}%'  
			or l.name LIKE '%${keyword}%' 
			or area.province LIKE '%${keyword}%' 
			or area.city LIKE '%${keyword}%' 
			or area.district LIKE '%${keyword}%' )
      </if>
	GROUP BY s.machine_id,date ORDER BY date DESC
  </select>
  
  <select id="selectDayGoodsDetail" resultType="java.util.Map">
  	SELECT
  		hi.create_time AS createTime,
		g.`name` AS googsName,
		SUM((hi.after_count-hi.before_count) )AS num,
		hi.batch_no AS batchNo,
		count(1) As countNum
	FROM
		inno72_supply_channel_history hi
		LEFT JOIN inno72_goods g ON g.id=hi.goods_id
		where hi.machine_id=#{machineId}
		<if test="beginTime != null and beginTime !=''  "> and hi.create_time <![CDATA[>]]> #{beginTime} </if>
      	<if test="endTime != null and endTime !='' "> and hi.create_time <![CDATA[<=]]> #{endTime} </if>
      	AND hi.after_count>0 AND hi.after_count != hi.before_count AND LENGTH(hi.goods_id) >1
		GROUP BY hi.batch_no,hi.goods_id
  </select>
  

</mapper>