<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72SupplyChannelOrderMapper">
  <resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72SupplyChannelOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="subCount" jdbcType="INTEGER" property="subCount"/>
  </resultMap>


  <resultMap id="SupplyOrderVoList" type="com.inno72.machine.vo.SupplyOrderVo">
    <result column="batchNo" jdbcType="VARCHAR" property="batchNo"/>
    <result column="machine_id" jdbcType="VARCHAR" property="machineId"/>
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="area" jdbcType="VARCHAR" property="area"/>
  </resultMap>

  <select id="getOrderListByPage" resultMap="SupplyOrderVoList">
    select t1.id batchNo,t1.machine_id,t1.create_time,t2.machine_code,
    CONCAT(
    t4.province,
    t4.city,
    t4.district,
    if(t4.circle='其他','',t4.circle),IFNULL(t3.mall,""),IFNULL( t3.name,'')
    ) AS localeStr,
    t6.name,
    t6.phone,
    t7.name area
    from inno72_supply_channel_order t1
    left join inno72_machine t2 on t1.machine_id=t2.id
    LEFT JOIN inno72_locale t3 ON t3.id = t2.locale_id
    LEFT JOIN inno72_admin_area t4 ON t4.CODE = t3.area_code
    left join inno72_check_user t6 on t1.user_id=t6.id
    left join inno72_admin_area t7 on t6.area=t7.code
    <where>
      <if test="code !=null and code !=''">and LEFT(t3.area_code,#{num}) = LEFT(#{code},#{num})</if>
      <if test="beginTime != null">
        and t1.create_time <![CDATA[>]]> #{beginTime}
      </if>
      <if test="endTime != null">
        and t1.create_time <![CDATA[<=]]> #{endTime}
      </if>
      <if test="keyword != null">
        and (
        t2.machine_code like CONCAT('%','${keyword}','%')
        OR t6.name like CONCAT('%','${keyword}','%')
        OR t6.phone like CONCAT('%','${keyword}','%')
        )
      </if>
      and 9=9
    </where>
    order by t1.create_time desc
  </select>

</mapper>