<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72MachineMapper">
	<resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72Machine">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="machine_name" jdbcType="VARCHAR" property="machineName" />
		<result column="locale_id" jdbcType="VARCHAR" property="localeId" />
		<result column="tag" jdbcType="VARCHAR" property="tag" />
		<result column="create_id" jdbcType="VARCHAR" property="createId" />
		<result column="update_id" jdbcType="VARCHAR" property="updateId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="machine_status" jdbcType="INTEGER" property="machineStatus" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="bluetooth_address" jdbcType="VARCHAR" property="bluetoothAddress" />
		<result column="open_status" jdbcType="INTEGER" property="openStatus" />
		<result column="monitor_start" jdbcType="VARCHAR" property="monitorStart" />
		<result column="monitor_end" jdbcType="VARCHAR" property="monitorEnd" />
		<result column="local_str" jdbcType="VARCHAR" property="localStr" />
		<result column="inside_time" jdbcType="TIMESTAMP" property="insideTime" />
	</resultMap>


	<resultMap id="VoResultMap" type="com.inno72.machine.vo.MachineListVo">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="local_desc" jdbcType="VARCHAR" property="localDesc" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="channel_status" jdbcType="VARCHAR" property="channelStatus" />
		<result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
		<result column="machine_status" jdbcType="VARCHAR" property="machineStatus" />
		<result column="machine_type" jdbcType="VARCHAR" property="machineType" />
		<result column="inside_time" jdbcType="TIMESTAMP" property="insideTime" />
		<association property="planTime" resultMap="planTimeResult" />
	</resultMap>
	
	<resultMap id="Vo1ResultMap" type="com.inno72.machine.vo.MachineListVo1">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="local_desc" jdbcType="VARCHAR" property="localDesc" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="channel_status" jdbcType="VARCHAR" property="channelStatus" />
		<result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
		<result column="machine_status" jdbcType="VARCHAR" property="machineStatus" />
		<association property="planTime" resultMap="planTimeResult" />
	</resultMap>

	<select id="selectMachinesByPage" parameterType="java.util.Map"
		resultMap="VoResultMap">
		select m.id,m.machine_code,m.machine_status,
		CONCAT(aa.province,
		aa.city, aa.district,IFNULL( l.mall,""),IFNULL( l.name,""))
		local_desc,
		m.net_status,l.type as machine_type,m.inside_time
		from inno72_machine m
		left join inno72_locale l on
		m.locale_id=l.id
		left join
		inno72_admin_area aa on l.area_code=aa.code
		where machine_status!=-1
		<if test="code !=null and code !='' ">and LEFT(l.area_code,#{num})='${code}'</if>
		<if test="machineCode !=null and machineCode !=''">
			AND (m.machine_code LIKE '%${machineCode}%' or l.mall LIKE
			'%${machineCode}%' or l.name LIKE '%${machineCode}%')
		</if>
		<if test="machineType !=null and machineType !='' ">and l.type=#{machineType}</if>
		<if test="machineStatus !=null and machineStatus !='' ">and m.machine_status=#{machineStatus}</if>
		<if test="startTime !=null and startTime !='' ">
			<![CDATA[AND (STR_TO_DATE(#{startTime}, '%Y-%m-%d')  <=STR_TO_DATE(DATE_FORMAT(m.inside_time,"%Y-%m-%d") ,'%Y-%m-%d')
			 AND STR_TO_DATE(#{endTime}, '%Y-%m-%d') >= STR_TO_DATE(DATE_FORMAT(m.inside_time,"%Y-%m-%d") ,'%Y-%m-%d') ) ]]>
		</if>
		and 9=9
		order by m.update_time desc

	</select>
	<select id="findMachineInfoById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select m.*,
		CONCAT_WS('-',aa.province,aa.city,aa.district,l.mall,l.name)
		local_str
		from inno72_machine m left join inno72_locale l on
		m.locale_id=l.id
		left join inno72_admin_area aa on l.area_code=aa.code
		where
		m.id=#{machineId}

	</select>

	<select id="findMachineByMachineStatus" parameterType="Integer"
		resultType="String">
		select s.machine_code from inno72_machine s where
		s.machine_status = #{machineStatus}
	</select>
	<resultMap id="planTimeResult" type="java.util.Map">
		<result column="activityName" property="activityName" />
		<result column="state" property="state" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
	</resultMap>
	<select id="findMachinePlan" parameterType="java.util.Map"
		resultMap="Vo1ResultMap">
		select * from (
		SELECT
		m.id,
		m.machine_code,
		CONCAT( area.province,
		area.city,
		area.district,IFNULL(
		l.mall,""),IFNULL(
		l.name,"") ) AS
		local_desc,
		date_format(ap.start_time,'%Y-%m-%d %H:%i:%s') AS
		start_time,
		date_format(ap.end_time,'%Y-%m-%d %H:%i:%s') AS end_time,
		a.name AS activityName,
		CASE
		WHEN ap.start_time &gt; NOW() THEN '1'
		WHEN
		ap.start_time &lt; NOW() and ap.end_time &gt; NOW() THEN '2'
		ELSE null
		END state,
		l.area_code
		FROM
		inno72_machine m
		LEFT JOIN inno72_locale
		l ON
		l.id = m.locale_id
		LEFT JOIN inno72_admin_area area on
		area.code=l.area_code
		LEFT JOIN
		inno72_activity_plan_machine apm on
		apm.machine_id = m.id
		LEFT JOIN
		inno72_activity_plan ap ON ap.id =
		apm.activity_plan_id and ap.is_delete = 0 and NOW() &lt; ap.end_time
		<if test="startTime !=null and startTime !='' ">
			<![CDATA[AND ( #{startTime} <= ap.end_time AND #{endTime} >= ap.start_time ) ]]>
		</if>
		LEFT JOIN
		inno72_activity a ON a.id = ap.activity_id
		where
		m.machine_status ='4'
		<if test="code !=null and code !='' ">and LEFT(l.area_code,#{num})='${code}'</if>
		<if test="machineCode !=null and machineCode !=''">
		AND ( m.machine_code LIKE '%${machineCode}%'
			or a.name LIKE '%${machineCode}%' 
			)
		</if>
		and 9=9
		) o where 1=1 
		<if test="state ==1 ">and o.state =1</if>
		<if test="state ==2 ">and o.state =2</if>
		order by area_code
	</select>


	<select id="findStockOutMachines" resultMap="ExceptionVoResultMap">
		select m.id,m.machine_code
		,if(aa.province=aa.city,CONCAT_WS('-',aa.province,aa.district,l.mall),
		CONCAT_WS('-',aa.province,aa.city,aa.district,l.mall))
		local from (
		select apm.machine_id,apg.goods_id,(
		select IFNULL(
		sum(sc.goods_count),0) gc from inno72_supply_channel sc left
		join
		inno72_supply_channel_goods scg on sc.id=scg.supply_channel_id
		where
		sc.machine_id=apm.machine_id and scg.goods_id=apg.goods_id) gc
		from
		inno72_activity_plan ap left join inno72_activity_plan_machine
		apm on
		ap.id=apm.activity_plan_id
		left join inno72_activity_plan_goods apg on
		ap.id=apg.activity_plan_id
		where NOW() BETWEEN ap.start_time and
		ap.end_time and ap.is_delete!=1
		order by apm.machine_id
		) a left join
		inno72_machine m on a.machine_id=m.id
		LEFT JOIN inno72_locale l ON l.id
		= m.locale_id
		LEFT JOIN inno72_admin_area aa on aa.code=l.area_code
		where m.id is not null group by
		a.machine_id HAVING sum(a.gc)<![CDATA[<=]]>15


	</select>

	<resultMap id="ExceptionVoResultMap" type="com.inno72.machine.vo.MachineExceptionVo">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="local" jdbcType="VARCHAR" property="local" />
	</resultMap>

	<select id="findMachines" resultMap="ExceptionVoResultMap" >
		select m.id,m.machine_code
		,CONCAT(aa.province,
		aa.city, aa.district,IFNULL( l.mall,""),IFNULL( l.name,""))
		local from
		inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT
		JOIN inno72_admin_area
		aa on aa.code=l.area_code
		where
		m.machine_status=4 
		<if test="type =='1' ">and m.net_status=0</if>
	</select>

	<resultMap id="StockoutInfoResultMap" type="com.inno72.machine.vo.MachineStockOutInfo">
		<result column="good_name" jdbcType="VARCHAR" property="goodName" />
		<result column="good_count" jdbcType="INTEGER" property="goodCount" />
	</resultMap>

	<select id="findMachineStockoutInfo" resultMap="StockoutInfoResultMap">
		select g.name
		good_name,(
		select IFNULL( sum(sc.goods_count),0) gc from
		inno72_supply_channel sc left
		join inno72_supply_channel_goods scg on
		sc.id=scg.supply_channel_id
		where sc.machine_id=apm.machine_id and
		scg.goods_id=apg.goods_id)
		good_count from inno72_activity_plan ap left
		join
		inno72_activity_plan_machine apm on ap.id=apm.activity_plan_id
		left join inno72_activity_plan_goods apg on ap.id=apg.activity_plan_id
		left join inno72_goods g on apg.goods_id=g.id
		where NOW() BETWEEN
		ap.start_time and ap.end_time and ap.is_delete!=1 and
		apm.machine_id =
		#{machineId}
	</select>

</mapper>
