<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.machine.mapper.Inno72MachineMapper">
	<resultMap id="BaseResultMap" type="com.inno72.machine.model.Inno72Machine">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="machine_name" jdbcType="VARCHAR" property="machineName" />
		<result column="locale_id" jdbcType="VARCHAR" property="localeId" />
		<result column="tag" jdbcType="VARCHAR" property="tag" />
		<result column="create_id" jdbcType="VARCHAR" property="createId" />
		<result column="update_id" jdbcType="VARCHAR" property="updateId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="machine_status" jdbcType="INTEGER" property="machineStatus" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="device_id" jdbcType="VARCHAR" property="deviceId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="bluetooth_address" jdbcType="VARCHAR" property="bluetoothAddress" />
		
	</resultMap>

	<resultMap id="VoResultMap" type="com.inno72.machine.vo.MachineListVo">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
		<result column="local_desc" jdbcType="VARCHAR" property="localDesc" />
		<result column="net_status" jdbcType="INTEGER" property="netStatus" />
		<result column="activity_name" jdbcType="VARCHAR" property="activityName" />
		<result column="channel_status" jdbcType="VARCHAR" property="channelStatus" />
		<result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
		<result column="machine_status" jdbcType="VARCHAR" property="machineStatus" />
	</resultMap>

	<select id="selectMachinesByPage" parameterType="java.util.Map"
		resultMap="VoResultMap">
select * from (
select m.id,m.machine_code,m.machine_status,
if(aa.province=aa.city,CONCAT_WS('-',aa.province,aa.district,if(aa.circle='其他','',aa.circle),l.mall),
CONCAT_WS('-',aa.province,aa.city,aa.district,if(aa.circle='其他','',aa.circle),l.mall)) local_desc,
m.net_status,IFNULL(mm.name,case m.machine_status when '4' then '默认活动' else '无' end ) activity_name,mm.activity_plan_id,
(
select GROUP_CONCAT(CONCAT( sc.name, '', scs.result))  from 
inno72_supply_channel sc left join inno72_supply_channel_status scs on sc.work_status=scs.code
where sc.machine_id=m.id and sc.work_status!=0) channel_status,
(
select GROUP_CONCAT(CONCAT( g.name, '剩余', aa.goods_count))  from 	(
select    
sum(sc.goods_count)   goods_count,apg.activity_plan_id,apg.goods_id,sc.machine_id from inno72_activity_plan_goods  apg 
left join inno72_supply_channel_goods scg  on  scg.goods_id=apg.goods_id
left join inno72_supply_channel sc on sc.id=scg.supply_channel_id

group by apg.activity_plan_id,apg.goods_id,sc.machine_id
) aa left  join inno72_goods g on aa.goods_id=g.id

where aa.goods_count<![CDATA[<]]>10  and activity_plan_id=mm.activity_plan_id and machine_id=mm.machine_id
) goods_status

 from inno72_machine m left join inno72_locale l on m.locale_id=l.id
	left join inno72_admin_area aa on l.area_code=aa.code
left join (
select ap.id activity_plan_id,apm.machine_id,a.name from inno72_activity_plan  ap 
left join inno72_activity_plan_machine apm on ap.id=apm.activity_plan_id
left join inno72_activity a on ap.activity_id=a.id
 where NOW() BETWEEN ap.start_time and ap.end_time and ap.is_delete!=1
) mm on m.id=mm.machine_id
where 1=1 
<if test="code !=null and code !='' ">and LEFT(l.area_code,#{num})='${code}'</if>
		<if test="machineCode !=null and machineCode !=''">
			AND m.machine_code=#{machineCode}
		</if>
) o order by machine_code

	</select>

	<select id="findMachineByMachineStatus" parameterType="Integer" resultType="String">
		select s.machine_code from inno72_machine s where s.machine_status = #{machineStatus}
	</select>

</mapper>
