<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.check.mapper.Inno72CheckSignInMapper">
  <resultMap id="BaseResultMap" type="com.inno72.check.model.Inno72CheckSignIn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="check_user_id" jdbcType="VARCHAR" property="checkUserId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
  </resultMap>
  <resultMap id="MachineSignList" type="com.inno72.check.vo.MachineSignInVo">
    <result column="machineId" jdbcType="VARCHAR" property="machineId"/>
    <result column="machineCode" jdbcType="VARCHAR" property="machineCode"/>
    <result column="localeStr" jdbcType="VARCHAR" property="localeStr"/>
    <association property="signInList" resultMap="BaseResultMap"/>
  </resultMap>

  <select id="selectByMonth" resultMap="BaseResultMap">
    select id,check_user_id,machine_id,type,create_time
    from inno72_check_sign_in
    where DATE_FORMAT(create_time,'%Y%M') = DATE_FORMAT(#{createTime},'%Y%M')
    and machine_id=#{machineId} and check_user_id=#{checkUserId}
    and status=0
  </select>
  
  <select id="selectDaySignInNum" resultType="int">
    select count(1)
    from inno72_check_sign_in
    where DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(CURRENT_DATE,'%Y-%m-%d')
    and machine_id=#{machineId} and check_user_id=#{checkUserId}
  </select>


  <select id="selectMachineSignList" resultMap="MachineSignList">
    select t1.id machineId,
    t1.machine_code machineCode,
    t1.machine_name machineName,
    CONCAT(
		t5.province,
		t5.city,
		t5.district,
		if(t5.circle='其他' or t5.circle is null,'',t5.circle),IFNULL(t4.mall,""),IFNULL( t4.name,'')
		) AS localeStr,
    t3.*
    from inno72_machine t1
    left join inno72_check_user_machine t2 on t1.id = t2.machine_id
    left join inno72_check_sign_in t3 on t2.machine_id=t3.machine_id
    and date_format(t3.create_time,'%Y%M%D') = date_format(CURRENT_DATE,'%Y%M%D')
    and t3.check_user_id=#{checkUserId,jdbcType=VARCHAR}
    and t3.status=0
    LEFT JOIN inno72_locale t4 ON t4.id = t1.locale_id
    LEFT JOIN inno72_admin_area t5 ON t5.CODE = t4.area_code
    where t2.check_user_id = #{checkUserId}
    <if test="keyword != null">
        and (t1.machine_code like '%${keyword}%'
          or t5.province like '%${keyword}%'
          or t5.city like '%${keyword}%'
          or t5.district like '%${keyword}%'
          or t5.circle like '%${keyword}%'
          or t4.mall like '%${keyword}%'
          or t4.name like '%${keyword}%'
        )
    </if>
    order by t3.create_time desc
  </select>

    <resultMap id="signVoList" type="com.inno72.check.vo.SignVo">
        <result column="checkUserId" jdbcType="VARCHAR" property="checkUserId"/>
        <result column="machineId" jdbcType="VARCHAR" property="machineId"/>
        <result column="signDateStr" jdbcType="VARCHAR" property="signDateStr"/>
        <result column="signTimeStr" jdbcType="VARCHAR" property="signTimeStr"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <select id="selectMonth" resultMap="signVoList">
        select csi.check_user_id checkUserId,DATE_FORMAT(csi.create_time,'%Y-%m-%d') signDateStr ,1 AS type,csi.machine_id machineId,DATE_FORMAT(csi.create_time, '%H:%m:%s') as signTimeStr
        from inno72_check_sign_in csi
        where csi.status=0 and csi.check_user_id=#{checkUserId} and csi.machine_id=#{machineId} and DATE_FORMAT(csi.create_time,'%Y%m')=DATE_FORMAT(#{signDateStr},'%Y%m')
        UNION all
        select cf.submit_id checkUserId,DATE_FORMAT(cf.submit_time,'%Y-%m-%d') signDateStr ,2 AS type,cf.machine_id machineId,DATE_FORMAT(cf.submit_time, '%H:%m:%s') as signTimeStr
        from inno72_check_fault cf
        where cf.submit_id=#{checkUserId} and cf.machine_id=#{machineId} and DATE_FORMAT(cf.submit_time,'%Y%m')=DATE_FORMAT(#{signDateStr},'%Y%m')
    </select>
</mapper>