<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.order.mapper.Inno72OrderRefundMapper">
  <resultMap id="BaseResultMap" type="com.inno72.order.model.Inno72OrderRefund">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="refund_num" jdbcType="VARCHAR" property="refundNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultType="java.util.Map">
  		SELECT
  			re.id,
			o.order_num AS orderNum,
			re.amount,
			re.phone,
			m.machine_code AS machineCode,
			CONCAT(area.province,area.city, area.district,IFNULL( l.mall,""),IFNULL( l.name,"")) AS local,
			c.channel_name AS channelName,
			i.`name` AS activityName,
			re.refund_num AS refundNum,
			date_format( re.create_time, '%Y-%m-%d %H:%i:%s' ) AS createTime,
			re.reason,
			re.audit_reason AS auditReason,
			re.remark
		FROM
			inno72_order_refund re
		LEFT JOIN inno72_order o ON o.id = re.order_id
		LEFT JOIN inno72_machine m ON m.id = o.machine_id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.`code`=l.area_code
		LEFT JOIN inno72_channel c ON c.id = o.channel_id
		LEFT JOIN inno72_interact i ON i.id = o.inno72_activity_id
		<where>
			<if test="auditStatus != null and auditStatus !=''  "> and re.audit_status =#{auditStatus} </if>
			<if test="status != null and status !=''  "> and re.status =#{status} </if>
		  	<if test="beginTime != null and beginTime !=''  "> and re.create_time <![CDATA[>=]]> #{beginTime} </if>
      	 	<if test="endTime != null and endTime !='' "> and re.create_time <![CDATA[<=]]> #{endTime} </if>
          	<if test="keyword != null and keyword != ''">
              and (m.machine_code like CONCAT('%','${keyword}','%')
              or o.order_num like CONCAT('%','${keyword}','%')
              or i.`name` like CONCAT('%','${keyword}','%')
              or re.refund_num like CONCAT('%','${keyword}','%')
              )
          	</if>
      </where>
  </select>
  
  <select id="selectRefundDetail" parameterType="String" resultType="java.util.Map">
  		SELECT
  			re.id,
			o.order_num AS orderNum,
			CONCAT(area.province,area.city, area.district,IFNULL( l.mall,""),IFNULL( l.name,"")) AS local,
			m.machine_code AS machineCode,
			c.channel_name AS channelName,
			date_format( o.order_time, '%Y-%m-%d %H:%i:%s' ) AS orderTime,
			o.order_price AS orderPrice,
			o.order_status AS orderStatus,
			re.user_id AS userId,
			i.`name` AS activityName,
			g.goods_name AS goodsName,
			o.order_type AS orderType,
			o.goods_status goodsStatus,
			date_format( o.pay_time, '%Y-%m-%d %H:%i:%s' ) AS payTime,
			
			re.refund_num AS refundNum,
			re.amount,
			re.status,
			date_format( re.create_time, '%Y-%m-%d %H:%i:%s' ) AS createTime,
			date_format( re.audit_time, '%Y-%m-%d %H:%i:%s' ) AS auditTime,
			re.audit_user AS auditUser,
			re.audit_reason AS auditReason,
			re.reason,
			re.remark
		FROM
			inno72_order_refund re
		LEFT JOIN inno72_order o ON o.id = re.order_id
		LEFT JOIN inno72_machine m ON m.id = o.machine_id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.`code`=l.area_code
		LEFT JOIN inno72_channel c ON c.id = o.channel_id
		LEFT JOIN inno72_interact i ON i.id = o.inno72_activity_id
		LEFT JOIN inno72_order_goods g ON g.order_id=re.order_id
		WHERE re.id =#{id}
  </select>
  
  <select id="selectRefundOrderCount" resultType="java.lang.Integer">
      select count(*) from inno72_order_refund
      <where>
          <if test="countType != null">
              and
              <if test="countType == 1">
                  audit_status = 0
              </if>
              <if test="countType == 2">
                  status = 3
              </if>
          </if>
      </where>
  </select>
  
  
</mapper>