<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.order.mapper.Inno72OrderMapper">
  <resultMap id="BaseResultMap" type="com.inno72.order.model.Inno72Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="order_price" jdbcType="VARCHAR" property="orderPrice" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="ref_order_id" jdbcType="VARCHAR" property="refOrderId"/>
    <result column="shops_name" jdbcType="VARCHAR" property="shopsName"/>
    <result column="goods_status" jdbcType="INTEGER" property="goodsStatus"/>
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
    <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode"/>
    <result column="machine_name" jdbcType="VARCHAR" property="machineName"/>
    <result column="gameName" jdbcType="VARCHAR" property="gameName"/>
    <result column="gameRemark" jdbcType="VARCHAR" property="gameRemark"/>
    <result column="game_user_id" jdbcType="VARCHAR" property="gameUserId"/>
    <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    <result column="mer_point_address" jdbcType="VARCHAR" property="merPointAddress"/>
    <result column="activity_name" jdbcType="VARCHAR" property="activityName"/>
    <collection property="orderGoodsList" resultMap="orderGoodsList"/>
  </resultMap>

  <resultMap id="orderGoodsList" type="com.inno72.order.model.Inno72OrderGoods">
    <id column="orderGoodsId" jdbcType="VARCHAR" property="id" />
    <result column="orderId" jdbcType="VARCHAR" property="orderId"/>
    <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
    <result column="goodsType" jdbcType="INTEGER" property="goodsType" />
    <result column="goodsId" jdbcType="VARCHAR" property="goodsId" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
    <result column="goodsCode" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goodsPrice" jdbcType="VARCHAR" property="goodsPrice" />
    <result column="orderGoodsStatus" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="Column_List">


  </sql>

  <select id="seleByParamForPage" resultMap="BaseResultMap">
      select * from  (select
      o.id,o.user_id,o.channel_id,o.machine_id,
      o.order_time,o.order_price,o.order_type,o.pay_status,o.pay_time,
      o.shops_id,o.shops_name,o.goods_status,
      gul.game_user_id,gul.nick_name,gul.mer_point_address,
      m.machine_code,
      og.goods_type goodsType,
      og.goods_id goodsId,
      og.goods_name goodsName,
      og.goods_code goodsCode,
      og.goods_price goodsPrice,
      og.status orderGoodsStatus,
      if(a.name is null ,i.name,a.name) activity_name,
      if(g1.name is null,g2.name,g1.name) gameName
      from inno72_order o
      left join inno72_order_goods og on og.order_num=o.order_num
      left join inno72_game_user_life gul on o.id=gul.order_id
      left join inno72_machine m on m.id=o.machine_id
      left join inno72_activity a on o.inno72_activity_id = a.id
      left join inno72_activity_plan ap on ap.id=o.inno72_activity_plan_id left join inno72_game g1 on ap.game_id= g1.id
      left join inno72_interact i on o.inno72_activity_id=i.id left join inno72_game g2 on i.game_id=g2.id
      ) k
      <where>
      <if test="machineId != null">
        and k.machine_id = #{machineId}
      </if>
      <if test="orderNum != null">
        and k.order_num = #{orderNum}
      </if>
      <if test="channelId != null">
        and k.channel_id = #{channelId}
      </if>
      <if test="orderType != null and orderType !=''">
        and k.order_type = #{orderType}
      </if>
      <if test="goodsStatus != null">
        and k.goods_status = #{goodsStatus}
      </if>
      <if test="payStatus != null and payStatus !=''">
        and k.pay_status = #{payStatus}
      </if>
      <if test="keyword != null">
        and (k.machine_code like CONCAT('%','${keyword}','%')
        or k.order_num like CONCAT('%','${keyword}','%')
        or k.activity_name like CONCAT('%','${keyword}','%')
        )
      </if>
    </where>
    ORDER BY k.order_time desc

  </select>
</mapper>