<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72ActivityPlanMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72ActivityPlan">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="game_id" jdbcType="VARCHAR" property="gameId"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="user_max_times" jdbcType="INTEGER" property="userMaxTimes"/>
        <result column="prize_type" jdbcType="VARCHAR" property="prizeType"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <!-- 查询时间段内没有排期的机器-->
    <select id="selectNoPlanedMachine" parameterType="String" resultType="com.inno72.vo.Inno72NoPlanInfoVo">
  		SELECT
			m.id,
			machine_code as machineCode,
			CONCAT(
        area.province, area.city, area.district, if(area.circle='其他','',area.circle),IFNULL( l.mall,""),IFNULL(
        l.name,"") ) as area
		FROM inno72_machine m
		LEFT JOIN inno72_activity_plan_machine apm ON m.id = apm.machine_id
		LEFT JOIN inno72_activity_plan ap ON apm.activity_plan_id = ap.id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
		WHERE apm.machine_id IS NULL
		and ( <![CDATA[
		 	#{taskTime} > ap.end_time or #{taskTime} < ap.start_time
		 ]]>
		 )
		 and m.machine_status = 4 and m.open_status = 0
  </select>


</mapper>