<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72CheckUserMapper">
    <resultMap id="BaseResultMap" type="com.inno72.model.Inno72CheckUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="enterprise" jdbcType="VARCHAR" property="enterprise"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="head_image" jdbcType="VARCHAR" property="headImage"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_id" jdbcType="VARCHAR" property="updateId"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="unReadCount" jdbcType="INTEGER" property="unReadCount"/>
    </resultMap>

    <select id="selectPhoneByMachineCode" parameterType="String" resultType="com.inno72.model.Inno72CheckUserPhone">
		SELECT
		 icu.phone,
		 im.machine_code as machineCode,
		 icu.wechat_user_id as userId
		FROM
		inno72_machine im
		LEFT JOIN inno72_check_user_machine cum ON im.id = cum.machine_id
		LEFT JOIN inno72_check_user icu ON cum.check_user_id = icu.id
	WHERE
		im.machine_code = #{machineCode}
		and icu.is_delete=0 and icu.status=0
  </select>

    <select id="selectUnReadByParam" resultMap="BaseResultMap">
        select cu.phone,count(am.id ) unReadCount
        from inno72_check_user cu
        left join inno72_check_user_machine cum on cum.check_user_id = cu.id
        left join inno72_machine m on cum.machine_id = m.id
        left join inno72_alarm_msg am on m.machine_code=am.machine_code and am.is_read=0
        where cu.is_delete=0 and status=0
        group by cu.id having count(am.id)>0
    </select>

</mapper>