<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72SupplyChannelMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72SupplyChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
    <result column="goodsId" jdbcType="VARCHAR" property="goodsId"/>
  </resultMap>

  <update id="closeSupply">

    update inno72_supply_channel
    set
    <if test="isDelete != null">
      is_delete =#{isDelete}
    </if>
    where code = #{code} and machine_id=#{machineId}
  </update>

    <select id="selectNormalSupply" resultMap="BaseResultMap">
        select sc.* from inno72_supply_channel sc left join inno72_supply_channel_goods cg on sc.id=cg.supply_channel_id
        where sc.machine_id=#{machineId} and sc.is_delete=0 and cg.goods_id=#{goodsId}
    </select>

    <select id="selectByParam" resultMap="BaseResultMap">
        select c.*,ig.name goodsName,ig.id goodsId from inno72_supply_channel c
        left join inno72_supply_channel_goods g on c.id=g.supply_channel_id
        left join inno72_goods ig on g.goods_id=ig.id
        where c.machine_id=#{machineId}
         <if test="channelArray != null">
             and
             <foreach collection="channelArray" index="index" item="item" open="(" close=")" separator="or">
                 c.code = #{item}
             </foreach>
         </if>
    </select>
</mapper>