<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.Inno72CheckFaultMapper">
  <resultMap id="BaseResultMap" type="com.inno72.model.Inno72CheckFault">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="work_type" jdbcType="INTEGER" property="workType"/>
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="source" jdbcType="INTEGER" property="source"/>
    <result column="urgent_status" jdbcType="INTEGER" property="urgentStatus"/>
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="submit_user" jdbcType="VARCHAR" property="submitUser" />
    <result column="submit_id" jdbcType="VARCHAR" property="submitId"/>
    <result column="submit_user_type" jdbcType="INTEGER" property="submitUserType"/>
    <result column="receive_user" jdbcType="VARCHAR" property="receiveUser" />
    <result column="receive_id" jdbcType="VARCHAR" property="receiveId"/>
    <result column="finish_user" jdbcType="VARCHAR" property="finishUser" />
    <result column="finish_id" jdbcType="VARCHAR" property="finishId"/>
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
    <result column="talking_time" jdbcType="TIMESTAMP" property="talkingTime"/>
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="finish_remark" jdbcType="VARCHAR" property="finishRemark"/>
    <result column="remind_status" jdbcType="INTEGER" property="remindStatus"/>
  </resultMap>
</mapper>