<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ActivityMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72Activity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="VoResultMap" type="com.inno72.project.vo.Inno72ActivityVo" extends="BaseResultMap">
    
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <association property="shops" resultMap="shopsResult" />
    <association property="planTime" resultMap="planTimeResult" />
  </resultMap>
   <resultMap id="shopsResult" type="com.inno72.project.vo.Inno72ShopsVo">
	  <result column="shop_id" property="id" />
	  <result column="shop_name" property="shopName"/>
	  <result column="shop_is_vip" jdbcType="INTEGER" property="isVip"/>
	  <result column="shop_session_key" property="sessionKey"/>
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="VoResultMap">
		
		 SELECT
			a.id,
			a.name,
			a.code,
			a.type,
			a.is_default,
			u.name as manager_id,
			a.is_delete,
			a.create_time,
			a.update_time,
			a.remark
		FROM
			inno72_activity a
			LEFT JOIN inno72_shops s ON s.id = a.shop_id
			LEFT JOIN inno72_merchant m ON m.id = s.seller_id
			LEFT JOIN inno72_user u ON u.id =a.manager_id
			where a.is_delete = 0 and a.is_default=0
			<if test="type !=null and type !='' ">and a.type=#{type} </if>
			<if test="keyword !=null and keyword !='' ">
			and ( a.name LIKE '%${keyword}%'
				OR a.code LIKE '%${keyword}%'
				OR m.merchant_name LIKE '%${keyword}%'
				OR m.merchant_code LIKE '%${keyword}%'
				OR s.shop_name LIKE '%${keyword}%'
				OR s.shop_code LIKE '%${keyword}%')
			</if>
			ORDER BY a.update_time DESC
  </select>
  
  <select id="selectIsUseing" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_activity_plan 
		 where is_delete =0 and activity_id=#{id} <![CDATA[and NOW() <= end_time ]]>
  </select>
  
  <select id="getCountByCode" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_activity where is_delete = 0 and code=#{code}
  </select>
  
  <resultMap id="planTimeResult" type="java.util.Map">
		<result column="state" property="state" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
	</resultMap>
  <select id="selectById" parameterType="String" resultMap="VoResultMap">
		
		 SELECT
			a.id,
			a.name,
			a.code,
			a.type,
			a.is_default,
			s.id as shop_id,
			CONCAT(IFNULL( m.merchant_name,''),'-',IFNULL( s.shop_name,'')) AS shop_name,
			ap.is_vip as shop_is_vip,
			ap.session_key as shop_session_key,
			u.name as manager_id,
			a.is_delete,
			a.create_time,
			a.update_time,
			a.remark,
			date_format(apl.start_time,'%Y-%m-%d %H:%i:%s') AS start_time,
			date_format(apl.end_time,'%Y-%m-%d %H:%i:%s') AS end_time,
			CASE 
			WHEN apl.start_time &gt; NOW() THEN '未开始'
			WHEN apl.start_time &lt;  NOW() and apl.end_time &gt; NOW() THEN '进行中'
			WHEN apl.end_time &lt; NOW() THEN '已结束'
			ELSE NULL
			END state
		FROM
			inno72_activity a
			LEFT JOIN inno72_user u ON u.id =a.manager_id
			LEFT JOIN inno72_activity_shops ap on ap.activity_id = a.id
			LEFT JOIN inno72_shops s ON s.id = ap.shops_id
			LEFT JOIN inno72_merchant m ON m.id = s.seller_id
			LEFT JOIN inno72_activity_plan apl ON apl.activity_id=a.id
			where a.is_delete = 0 and a.is_default=0
			and a.id = #{id}
			ORDER BY a.update_time DESC
  </select>

  
  <select id="selectUnPlanList" parameterType="java.util.Map" resultMap="BaseResultMap">
		 SELECT a.* FROM inno72_activity a where a.is_delete = 0 
		 and a.is_default=0 
  </select>
  
  <select id="selectDefaultActivity" parameterType="java.util.Map" resultMap="BaseResultMap">
		 SELECT * FROM inno72_activity a where a.is_delete = 0 and a.is_default=1 LIMIT 1
  </select>
  <delete id="deleteDefaultActivity" parameterType="String">
		DELETE FROM inno72_activity WHERE is_default=1
	</delete>
  
  
</mapper>