<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72GameMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72Game">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
     <result column="name" jdbcType="VARCHAR" property="name" />
     <result column="max_goods_num" jdbcType="INTEGER" property="maxGoodsNum" />
     <result column="min_goods_num" jdbcType="INTEGER" property="minGoodsNum" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="version_inno72" jdbcType="VARCHAR" property="versionInno72" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_see" jdbcType="INTEGER" property="isSee" />
    <result column="is_set" jdbcType="INTEGER" property="isSet" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BaseVoResultMap" type="com.inno72.project.vo.Inno72GameVo" extends="BaseResultMap">
  
  </resultMap>
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseVoResultMap">
		SELECT 
			g.id,
			g.name,
			g.max_goods_num,
			g.min_goods_num,
			g.version,
			g.version_inno72,
			g.is_set,
			g.is_see,
			g.remark,
			g.is_delete,
			g.create_id,
			g.create_time,
			g.update_id,
			g.update_time
		FROM inno72_game g 
		where g.is_delete=0
		<if test="keyword !=null and keyword !='' ">
		and ( g.name LIKE '%${keyword}%' 
			  or g.remark LIKE '%${keyword}%'
			  or g.version LIKE '%${keyword}%'
			  or g.version_inno72 LIKE '%${keyword}%'  )</if>
		ORDER BY g.update_time DESC
  </select>
 
  <select id="selectIsUseing" parameterType="String" resultType="int">
  	SELECT count(1) FROM inno72_activity_plan
		 where is_delete =0 and game_id=#{id} <![CDATA[and NOW() <= end_time ]]>
  </select>
  
  <select id="selectPlanIdByGame" parameterType="String" resultType="String">
  	SELECT id FROM inno72_activity_plan
		 where  game_id=#{id}
  </select>
  
  <delete id="deleteMachineGameByMachineId">
        delete from inno72_machine_game
        where  machine_id IN
        <foreach collection="mIds" item="mId" index="index" open="(" close=")" separator=",">
            #{mId}
        </foreach>
   </delete>
   
   
   <insert id="addMachineGame" parameterType="java.util.List">
        insert into inno72_machine_game (id, machine_id,game_id)
        values
        <foreach collection="machineGames" item="mg" index="index" separator=",">
            (#{mg.id}, #{mg.mId},#{mg.gameId})
        </foreach>
    </insert>
  
  
</mapper>