<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72GoodsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="banner" jdbcType="VARCHAR" property="banner" />
    <result column="use_type" jdbcType="INTEGER" property="useType" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="spec_remark" jdbcType="VARCHAR" property="specRemark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.inno72.project.vo.Inno72GoodsVo" extends="BaseResultMap">
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			g.id,
			g.name,
			g.code,
			g.brand_name,
			g.price,
			g.number,
			g.img,
			g.banner,
			g.remark,
			g.spec_remark,
			g.create_id,
			g.update_id,
			g.create_time,
			g.update_time,
			m.merchant_name as seller_id,
			s.shop_name AS shop_id,
			gt.name AS goods_type
		
		from inno72_goods g 
		LEFT JOIN inno72_merchant m on m.id=g.seller_id
		LEFT JOIN inno72_shops s ON s.id = g.shop_id
		LEFT JOIN  inno72_goods_type gt ON gt.code=g.goods_type
		WHERE g.is_delete=0 
		<if test="keyword !=null and keyword !=''">and ( g.name LIKE '%${keyword}%' or g.code LIKE '%${keyword}%' )</if>
		<if test="code !=null and code !=''">and g.seller_id = #{code}</if>
		ORDER BY g.update_time DESC
  </select>
  
  <select id="selectById" parameterType="String" resultMap="VoResultMap">
		SELECT
		g.id,
		g.name,
		g.code,
		g.brand_name,
		g.price,
		g.number,
		g.img,
		g.banner,
		g.remark,
		g.spec_remark,
		g.seller_id,
		g.shop_id,
		g.create_id,
		g.update_id,
		g.create_time,
		g.update_time,
		m.merchant_name,
		s.shop_name,
		CONCAT(IFNULL( gt.parent_name,''), '-', IFNULL( gt.name,'') ) AS goods_type,
		gt.code AS goods_type_code,
		gt.parent_code AS goods_type_parent_code
		
		from inno72_goods g 
		LEFT JOIN inno72_merchant m on m.id=g.seller_id
		LEFT JOIN inno72_shops s ON s.id = g.shop_id
		LEFT JOIN  inno72_goods_type gt ON gt.code=g.goods_type
		WHERE g.is_delete=0 
		<if test="id !=null and id !=''">and g.id = #{id}</if>
  </select>
  
  <select id="selectByShop" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
			g.*
		from inno72_goods g 
		WHERE g.is_delete=0 
		AND g.id NOT IN ( SELECT g.goods_id FROM inno72_interact_goods g )
		<if test="shopId !=null and shopId !=''">and g.shop_id = #{shopId}</if>
  </select>
  
  <select id="selectIsUseing" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_supply_channel_goods where goods_id=#{id}
  </select>
  <select id="selectIsUseing1" parameterType="String" resultType="int">
	SELECT
		count( 1 ) 
	FROM
		inno72_goods g
		LEFT JOIN inno72_activity_plan_goods pg ON pg.goods_id = g.id
		LEFT JOIN inno72_activity_plan p ON p.id = pg.activity_plan_id 
	WHERE
		p.is_delete=0 and goods_id=#{id} <![CDATA[and NOW() <= p.end_time ]]>
	
  </select>
  
  <select id="getCount" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_goods g where g.is_delete = 0
		<if test="code !=null and code !=''">and g.code =#{code} </if>
  </select>
  
</mapper>