<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ActivityPlanMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72ActivityPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="user_max_times" jdbcType="INTEGER" property="userMaxTimes" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="VoResultMap" type="com.inno72.project.vo.Inno72ActivityPlanVo" extends="BaseResultMap">
    
    <result column="activityName" jdbcType="VARCHAR" property="activityName" />
  </resultMap>
  <!-- 计划列表-->
  <select id="selectPlanList" parameterType="java.util.Map" resultMap="VoResultMap">
		SELECT
			ap.id,
			ap.activity_id,
			ap.game_id,
			ap.start_time,
			ap.end_time,
			a.name AS activityName,
			ap.remark,
			ap.is_delete,
			ap.create_time,
			ap.update_time 
		FROM
			inno72_activity_plan ap
			LEFT JOIN inno72_activity a ON a.id = ap.activity_id 
			LEFT JOIN (
				SELECT apm.activity_plan_id,GROUP_CONCAT(LEFT(locale.area_code,#{num})) AS area_code FROM inno72_activity_plan_machine apm
				LEFT JOIN  inno72_machine m ON m.id = apm.machine_id
				LEFT JOIN inno72_locale locale ON locale.id = m.locale_id
				where LEFT(locale.area_code,#{num}) = #{code}
				GROUP BY apm.activity_plan_id
			) m ON m.activity_plan_id = ap.id
			
		WHERE 1=1 
		<if test="code !=null and code !='' "> and m.area_code LIKE '%${code}%'</if>
		and ap.is_delete = 0 
		<if test="startTime !=null and startTime !='' ">
			<![CDATA[and ( ap.start_time  BETWEEN #{startTime} AND #{endTime} OR ap.end_time BETWEEN #{startTime} AND #{endTime} ) ]]>
		</if>
		ORDER BY a.update_time DESC
  </select>
  <!-- 联动区域机器列表-->
  <resultMap id="ResultAreaMachineMap" type="com.inno72.project.vo.Inno72AdminAreaVo">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="circle" jdbcType="VARCHAR" property="circle" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="planed" jdbcType="INTEGER" property="planed" />
    <association property="machines" resultMap="machinesResult" />
  </resultMap>
  
 <resultMap id="machinesResult" type="com.inno72.project.vo.Inno72MachineVo">
  <result column="machine_id" property="machineId" />
  <result column="machine_code" property="machineCode"/>
  <result column="state" property="state"/>
 </resultMap>
  
  <select id="selectAreaMachineList" parameterType="java.util.Map" resultMap="ResultAreaMachineMap">
  		SELECT
			a.*,
			m.id AS machine_id,
			m.machine_code AS machine_code,
			CASE WHEN  aa.machine_id is not null THEN '1' ELSE null  END AS state
		FROM
			inno72_admin_area a
			LEFT JOIN (
				SELECT m.machine_code,	m.id, locale.area_code FROM inno72_machine m
				LEFT JOIN inno72_locale locale ON locale.id = m.locale_id WHERE m.machine_status ='4'
			) m ON LEFT ( m.area_code,#{num}) = LEFT ( a.CODE,#{num})
			LEFT JOIN (	select distinct apm.machine_id from inno72_activity_plan app left join inno72_activity_plan_machine apm on app.id=apm.activity_plan_id
				where app.id not in (
				select id from inno72_activity_plan ap where 
				<![CDATA[(
				ap.start_time > #{endTime}
				OR ap.end_time < #{startTime})]]>and is_delete=0) and  
				app.is_delete=0 and apm.machine_id is not null  and length(apm.machine_id)>0 and app.start_time is not null 
				) aa on m.id=aa.machine_id
		WHERE
		<if test="code !=null and code !='' ">a.parent_code = #{code}  </if>
		<if test="level !=null and level !='' ">a.LEVEL = #{level}  </if>
		
  </select>
  <select id="selectMachineList" parameterType="java.util.Map" resultMap="ResultAreaMachineMap">
  		SELECT
			m.id AS CODE,
			'' AS parent_code,
			CONCAT(IFNULL( locale.mall,""),IFNULL( locale.name,""), '—', m.machine_code ) AS NAME,
			area.province,
			area.city,
			area.district,
			area.circle,
			'5' AS LEVEL,
			 CASE WHEN  aa.machine_id is null THEN '0' ELSE '1' END AS planed
		FROM
			inno72_machine m
			LEFT JOIN inno72_locale locale ON m.locale_id = locale.id
			LEFT JOIN inno72_admin_area area ON area.CODE = locale.area_code 
			LEFT JOIN (	select distinct apm.machine_id from inno72_activity_plan app 
			left join inno72_activity_plan_machine apm on app.id=apm.activity_plan_id
				where app.id not in (
				select id from inno72_activity_plan ap where 
				 <![CDATA[(
				ap.start_time > #{endTime}
				OR ap.end_time < #{startTime})]]>and is_delete=0) and  
				app.is_delete=0 and apm.machine_id is not null  and length(apm.machine_id)>0 and app.start_time is not null 
				) aa on m.id=aa.machine_id
		WHERE locale.area_code=#{code} and m.machine_status ='4'
  </select>
  <!-- 查询时间段内排期的机器-->
  <select id="selectPlanedMachine" parameterType="java.util.Map" resultType="String">
  		SELECT machine_id FROM inno72_activity_plan ap
			LEFT JOIN inno72_activity_plan_machine apm ON apm.activity_plan_id = ap.id
		 where  is_delete =0 
		 and ( <![CDATA[
		 	#{startTime} BETWEEN ap.start_time AND ap.end_time or 
		 	#{endTime} BETWEEN ap.start_time AND ap.end_time
		 ]]>
		 )
  </select>

  <!-- 查询时间段内没有排期的机器-->
  <select id="selectNoPlanedMachine" parameterType="String" resultType="com.inno72.project.vo.Inno72NoPlanInfoVo">
  		SELECT
			m.id,
			machine_code as machineCode,
			CONCAT(
        area.province, area.city, area.district, if(area.circle='其他','',area.circle),IFNULL( l.mall,""),IFNULL(
        l.name,"") ) as area
		FROM inno72_machine m
		LEFT JOIN inno72_activity_plan_machine apm ON m.id = apm.machine_id
		LEFT JOIN inno72_activity_plan ap ON apm.activity_plan_id = ap.id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
		WHERE apm.machine_id IS NULL
		and ( <![CDATA[
		 	#{taskTime} > ap.end_time or #{taskTime} < ap.start_time
		 ]]>
		 )
  </select>

  <select id="selectPlanIsState" parameterType="String" resultType="int">
  		SELECT count(1) FROM inno72_activity_plan ap where  is_delete =0 and ap.id =#{id} and (NOW() BETWEEN ap.start_time AND ap.end_time)
  </select>
  
  <!-- 排期计划详情-->
  <resultMap id="ResultPlanDetailMap" type="com.inno72.project.vo.Inno72ActivityPlanVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="user_max_times" jdbcType="INTEGER" property="userMaxTimes" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="activityName" jdbcType="VARCHAR" property="activityName" />
    <result column="merchantName" jdbcType="VARCHAR" property="merchantName" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="shopName" jdbcType="VARCHAR" property="shopName" />
    <result column="gameName" jdbcType="VARCHAR" property="gameName" />
    <association property="goods" resultMap="goodsResult" />
    <association property="coupons" resultMap="couponsResult" />
  </resultMap>
  
  <resultMap id="goodsResult" type="com.inno72.project.model.Inno72ActivityPlanGameResult">
	  <result column="goods_id" property="prizeId" />
	  <result column="goods_result_code" property="resultCode"/>
	  <result column="goods_result_remark" property="resultRemark"/>
	  <result column="goods_prize_type" property="prizeType" />
	  <result column="goods_name" property="activityPlanId" />
</resultMap>
 
 <resultMap id="couponsResult" type="com.inno72.project.vo.Inno72CouponVo">
 		<result column="coupons_code" property="code" />
	  <result column="coupons_name" property="name"/>
	  <result column="coupons_result_code" property="resultCode"/>
	  <result column="coupons_result_remark" property="resultRemark"/>
	  <result column="coupons_prize_type" property="prizeType" />
 </resultMap>
 
 <select id="selectPlanDetail" parameterType="String" resultMap="ResultPlanDetailMap">
  		SELECT
			ap.*, 
			rg.prize_id AS goods_id,
			rg.result_code AS goods_result_code,
			rg.result_remark AS goods_result_remark,
			rg.prize_type AS goods_prize_type,
			g.name AS goods_name,
			rc.result_code AS coupons_result_code,
			rc.result_remark AS coupons_result_remark,
			rc.prize_type AS coupons_prize_type,
			co.code AS coupons_code,
			co.name AS coupons_name,
			a.name AS activityName,
			m.merchant_name AS merchantName,
			s.shop_name AS shopName,
			a.shop_id AS shop_id,
			gm.name AS gameName
		FROM
			inno72_activity_plan ap
			LEFT JOIN inno72_activity_plan_game_result rg ON rg.activity_plan_id = ap.id and rg.prize_type=1
			LEFT JOIN inno72_activity_plan_game_result rc ON rc.activity_plan_id = ap.id and rc.prize_type=2
			LEFT JOIN inno72_coupon co ON co.id = rc.prize_id
			LEFT JOIN inno72_activity a ON a.id = ap.activity_id 
			LEFT JOIN inno72_goods g ON g.id = rg.prize_id
			LEFT JOIN inno72_merchant m ON m.id=a.seller_id
			LEFT JOIN inno72_shops s ON s.id=a.shop_id
			LEFT JOIN inno72_game gm ON gm.id = ap.game_id
			
		WHERE ap.is_delete =0
			and ap.id=#{id}
  </select>
  
  
  
  
  
  
  
  
  
  
</mapper>