<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ActivityPlanGoodsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72ActivityPlanGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  
	<delete id="deleteByPlanId" parameterType="String">
		DELETE FROM inno72_activity_plan_goods WHERE activity_plan_id=#{planId}
	</delete>
	
	<insert id="insertActivityPlanGoodsList" parameterType="java.util.List">
        insert into inno72_activity_plan_goods (id, activity_plan_id,goods_id,number)
        values
        <foreach collection="list" item="apg" index="index" separator=",">
            (#{apg.id},#{apg.activityPlanId},#{apg.goodsId},#{apg.number})
        </foreach>
    </insert>
  
  
  
  
</mapper>