<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ActivityPlanMachineMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72ActivityPlanMachine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
  </resultMap>
  
  <insert id="insertActivityPlanMachineList" parameterType="java.util.List">
        insert into inno72_activity_plan_machine (id, activity_plan_id,machine_id)
        values
        <foreach collection="list" item="apm" index="index" separator=",">
            (#{apm.id},#{apm.activityPlanId},#{apm.machineId})
        </foreach>
    </insert>
    <select id="selectPlanMachinDetailList" parameterType="String" resultType="java.util.Map">
		 SELECT
			CONCAT( area.province, area.city, area.district,IFNULL( l.mall,""),IFNULL( l.name,""),IFNULL( m.address,"")  ) AS machineLocale,
			m.machine_code AS machineCode
		FROM inno72_machine m
			LEFT JOIN inno72_activity_plan_machine apm ON apm.machine_id=m.id
			LEFT JOIN inno72_locale l ON l.id = m.locale_id
			LEFT JOIN inno72_admin_area area ON area.code = l.area_code
			WHERE apm.activity_plan_id = #{planId}
			and 9=9
  	</select>
  	
  	<delete id="deleteByPlanId" parameterType="String">
		DELETE FROM inno72_activity_plan_machine WHERE activity_plan_id=#{planId}
	</delete>
  
    
    
  
</mapper>