<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72CouponMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72Coupon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="shops_id" jdbcType="VARCHAR" property="shopsId" />
    <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <delete id="deleteByPlanId" parameterType="String">
		DELETE FROM inno72_coupon WHERE activity_plan_id=#{planId}
</delete>

	<insert id="insertCouponList" parameterType="java.util.List">
        insert into inno72_coupon (id, name,code,shops_id,activity_plan_id,create_id,update_id)
        values
        <foreach collection="list" item="coupon" index="index" separator=",">
            (#{coupon.id}, #{coupon.name},#{coupon.code},#{coupon.shopsId},#{coupon.activityPlanId},#{coupon.createId},#{coupon.updateId})
        </foreach>
    </insert>
  
  
</mapper>