<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ChannelMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72Channel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT * FROM inno72_channel channel where is_delete=0
	<if test="keyword !=null and keyword !=''">and ( channel.channel_code LIKE '%${keyword}%' or channel.channel_name LIKE '%${keyword}%' )</if>
	ORDER BY channel.update_time DESC
  </select>
  
  <select id="selectIsUseing" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_merchant where channel_id=#{id} and is_delete = 0
  </select>
  
  
</mapper>