<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ActivityDataCountMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72ActivityDataCount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="user_count" jdbcType="INTEGER" property="userCount" />
    <result column="pay_count" jdbcType="INTEGER" property="payCount" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="coupon_count" jdbcType="INTEGER" property="couponCount" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
  </resultMap>


	<select id="selectList" resultMap="BaseResultMap">
		SELECT
		t1.id activity_plan_id,
		t1.activity_id,
		(SELECT DISTINCT count(*) FROM inno72_game_user_life t2 WHERE t1.activity_id=t2.activity_id ) user_count,
		(select count(*) from inno72_order t3 where t1.id=t3.inno72_activity_plan_id) order_count,
		(select count(*) from inno72_order t4 where t1.id=t4.inno72_activity_plan_id and pay_status=1) pay_count,
		(select count(*) from inno72_order t5 where t5.inno72_activity_plan_id=t1.id and t5.goods_type=1 and t5.goods_status=1) goods_count,
		(select count(*) from inno72_order t6 where t6.inno72_activity_plan_id=t1.id and t6.goods_type=2 and t6.goods_status=1) coupon_count,
		date_sub(curdate(),interval 1 day) create_date,
        CURRENT_TIMESTAMP submit_time
        FROM inno72_activity_plan t1 where date_sub(curdate(),interval 1 day) BETWEEN t1.start_time and t1.end_time
	</select>

    <select id="selectByParam" resultMap="BaseResultMap">

        select * from inno72_activity_data_count
        <where>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="activityPlanId != null">
                and activity_plan_id = #{activityPlanId}
            </if>
        </where>
        order by create_date desc
    </select>

  
  
</mapper>