<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.project.mapper.Inno72ActivityPlanGameResultMapper">
  <resultMap id="BaseResultMap" type="com.inno72.project.model.Inno72ActivityPlanGameResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_plan_id" jdbcType="VARCHAR" property="activityPlanId" />
    <result column="prize_id" jdbcType="VARCHAR" property="prizeId" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="result_code" jdbcType="INTEGER" property="resultCode" />
    <result column="result_remark" jdbcType="VARCHAR" property="resultRemark" />
  </resultMap>
  
  <delete id="deleteByPlanId" parameterType="String">
		DELETE FROM inno72_activity_plan_game_result WHERE activity_plan_id=#{planId}
	</delete>
	
	<insert id="insertActivityPlanGameResultList" parameterType="java.util.List">
        insert into inno72_activity_plan_game_result (id, activity_plan_id,prize_id,prize_type,result_code,result_remark)
        values
        <foreach collection="list" item="apgr" index="index" separator=",">
            (#{apgr.id}, #{apgr.activityPlanId},#{apgr.prizeId},#{apgr.prizeType},#{apgr.resultCode},#{apgr.resultRemark})
        </foreach>
    </insert>
</mapper>