<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.store.mapper.Inno72CheckGoodsDetailMapper">
  <resultMap id="BaseResultMap" type="com.inno72.store.model.Inno72CheckGoodsDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goods_num_id" jdbcType="VARCHAR" property="goodsNumId" />
    <result column="receive_count" jdbcType="INTEGER" property="receiveCount" />
    <result column="supply_count" jdbcType="INTEGER" property="supplyCount" />
    <result column="differ_count" jdbcType="INTEGER" property="differCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>