<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.store.mapper.Inno72CheckGoodsNumMapper">
  <resultMap id="BaseResultMap" type="com.inno72.store.model.Inno72CheckGoodsNum">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="check_user_id" jdbcType="VARCHAR" property="checkUserId" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="receive_total_count" jdbcType="INTEGER" property="receiveTotalCount" />
    <result column="supply_total_count" jdbcType="INTEGER" property="supplyTotalCount" />
    <result column="differ_total_count" jdbcType="INTEGER" property="differTotalCount" />
  </resultMap>
</mapper>