<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.store.mapper.Inno72StoreMapper">
  <resultMap id="BaseResultMap" type="com.inno72.store.model.Inno72Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="capacity_use" jdbcType="INTEGER" property="capacityUse" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <resultMap id="VoResultMap" type="com.inno72.store.vo.StoreVo" extends="BaseResultMap">
    	<result column="keeper" jdbcType="VARCHAR" property="keeper" />
    	<result column="areaName" jdbcType="VARCHAR" property="areaName" />
    
  </resultMap>
  
  <select id="selectByPage" parameterType="String" resultMap="VoResultMap">
		SELECT * FROM (
		SELECT
			s.*,
			GROUP_CONCAT(er.`name`) AS keeper,
			CONCAT(area.province, area.city, area.district) AS areaName
		FROM
			inno72_store s
		LEFT JOIN inno72_storekeeper_storte ses ON ses.store_id=s.id
		LEFT JOIN inno72_storekeeper er ON er.id=ses.storekeeper_id
		LEFT JOIN inno72_admin_area area ON area.code =s.area_code
		GROUP BY s.id) t 
		LEFT JOIN inno72_storekeeper_storte ss ON ss.store_id=t.id
		where ss.storekeeper_id = #{userId}
		<if test="keyword !=null and keyword !='' ">
			AND ( t.name LIKE '%${keyword}%' 
			or t.areaName LIKE '%${keyword}%' 
			or t.keeper LIKE '%${keyword}%' 
			or t.area LIKE '%${keyword}%' 
			)
		</if>
		ORDER BY t.update_time DESC
  </select>
  
  <select id="selectById" parameterType="String" resultMap="VoResultMap">
		SELECT * FROM inno72_store where id=#{id}
  </select>
  
  
  
</mapper>