<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.store.mapper.Inno72StorekeeperStorteMapper">
  <resultMap id="BaseResultMap" type="com.inno72.store.model.Inno72StorekeeperStorte">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="storekeeper_id" jdbcType="VARCHAR" property="storekeeperId" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
  </resultMap>
</mapper>