<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.store.mapper.Inno72StoreOrderMapper">
  <resultMap id="BaseResultMap" type="com.inno72.store.model.Inno72StoreOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="goods" jdbcType="VARCHAR" property="goods" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="send_id" jdbcType="VARCHAR" property="sendId" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receive_id" jdbcType="VARCHAR" property="receiveId" />
    <result column="receive_type" jdbcType="VARCHAR" property="receiveType" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="receive_number" jdbcType="INTEGER" property="receiveNumber" />
    <result column="receive_capacity" jdbcType="INTEGER" property="receiveCapacity" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="selectSendOrderByPage" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			o.id,
			o.order_num AS orderNum,
			g.`name` AS goodsName,
			g.`code` goodsCode,
			m.merchant_name AS merchantName,
			o.sender,
			o.receiver,
			o.number,
			o.creater,
			date_format( o.create_time, '%Y-%m-%d %H:%i:%s' ) AS createTime
		FROM
			inno72_store_order o
			LEFT JOIN inno72_goods g on g.id=o.goods
			LEFT JOIN inno72_merchant m ON m.id =o.merchant
		WHERE o.order_type=1
	    	<if test="beginTime != null and beginTime !=''"> and o.create_timee <![CDATA[>=]]> #{beginTime} </if>
      		<if test="endTime != null and endTime !=''"> and o.create_time <![CDATA[<=]]> #{endTime} </if>
	      	<if test="keyword != null and keyword != ''">
              and (o.sender like CONCAT('%','${keyword}','%')
              	or o.receiver like CONCAT('%','${keyword}','%')
              	or g.code like CONCAT('%','${keyword}','%')
              	or g.name like CONCAT('%','${keyword}','%')
              	or g.creater like CONCAT('%','${keyword}','%')
              )
          	</if>
  </select>
  
  <select id="selectReceiveOrderByPage" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			o.id,
			o.order_num AS orderNum,
			g.`name` AS goodsName,
			g.`code` goodsCode,
			m.merchant_name AS merchantName,
			o.sender,
			o.receiver,
			o.number,
			o.receive_number,
			o.`status`,
			date_format( o.receive_time, '%Y-%m-%d %H:%i:%s' ) AS receiveTime,
			e.rExpressNum,e.expressNum
		FROM
			inno72_store_order o
			LEFT JOIN inno72_goods g on g.id=o.goods
			LEFT JOIN inno72_merchant m ON m.id =o.merchant
			LEFT JOIN (
				SELECT
					se.order_id,
					COUNT( IF ( se.STATUS = 1, se.id, NULL ) ) AS rExpressNum,
					COUNT(1) AS  expressNum
				FROM
					inno72_store_express se 
				GROUP BY se.order_id
			) e ON e.order_id = o.id
		WHERE o.order_type=0
	    	<if test="beginTime != null and beginTime !=''"> and o.create_timee <![CDATA[>=]]> #{beginTime} </if>
      		<if test="endTime != null and endTime !=''"> and o.create_time <![CDATA[<=]]> #{endTime} </if>
	      	<if test="keyword != null and keyword != ''">
              and (o.sender like CONCAT('%','${keyword}','%')
              	or o.receiver like CONCAT('%','${keyword}','%')
              	or g.code like CONCAT('%','${keyword}','%')
              	or g.name like CONCAT('%','${keyword}','%')
              )
          </if>
  </select>
  
  
  
  
</mapper>