<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.goods.mapper.Inno72GoodsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.goods.model.Inno72Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		g.id,
		g.name,
		g.code,
		g.price,
		g.img,
		g.remark,
		g.create_id,
		g.update_id,
		g.create_time,
		g.update_time,
		m.merchant_name as seller_id
		
		from inno72_goods g 
		LEFT JOIN inno72_merchant m on m.id=g.seller_id
		WHERE g.is_delete=0 
		<if test="keyword !=null and keyword !=''">and ( g.name LIKE '%${keyword}%' or g.code LIKE '%${keyword}%' )</if>
		<if test="code !=null and code !=''">and g.seller_id = #{code}</if>
		ORDER BY g.update_time DESC
  </select>
  
  <select id="selectIsUseing" parameterType="String" resultType="int">
		SELECT count(1) FROM inno72_supply_channel_goods where goods_id=#{id}
  </select>
  
</mapper>