<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.Interact.mapper.Inno72InteractMerchantMapper">
  <resultMap id="BaseResultMap" type="com.inno72.Interact.model.Inno72InteractMerchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interact_id" jdbcType="VARCHAR" property="interactId" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
  </resultMap>
  
  <resultMap id="InteractMerchantResultMap" type="com.inno72.Interact.vo.Merchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interact_id" jdbcType="VARCHAR" property="interactId" />
    <result column="shops_id" jdbcType="VARCHAR" property="shopsId" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
    
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
  </resultMap>
  
  <select id="selectMerchantByInteractId" parameterType="String" resultMap="InteractMerchantResultMap">
		SELECT
			m.id,
			m.merchant_code,
			m.merchant_name 
		FROM
			inno72_interact_merchant im
			LEFT JOIN inno72_merchant m ON m.id = im.merchant_id
		WHERE m.is_delete = 0 
			AND im.interact_id = #{interactId}
  </select>
  
  
  <insert id="insertInteractMerchantList" parameterType="java.util.List">
        insert into inno72_interact_machine_goods (id,interact_id,merchant_id,)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.interactId},#{t.merchantId})
        </foreach>
  </insert>
  
  
  <select id="findMachineSellerId" resultType="com.inno72.Interact.vo.Inno72NeedExportStore">
  	SELECT *,machine_code AS machineCode, seller_id AS sellerId,CONCAT(seller_id,"-",machine_code) AS shopName 
  	FROM inno72_need_export_store s
  	  <where>
          <if test="activityId != null and activityId != ''">
          	AND s.activity_id=#{activityId}
          </if>
          <if test="activityType != null and activityType != ''">
          	AND s.activity_type=#{activityType}
          </if>
      </where>
  </select>
  
  
  
  
  
</mapper>