<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.Interact.mapper.Inno72InteractMachineMapper">
  <resultMap id="BaseResultMap" type="com.inno72.Interact.model.Inno72InteractMachine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interact_id" jdbcType="VARCHAR" property="interactId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
  </resultMap>
  
  <resultMap id="MachineResultMap" type="com.inno72.Interact.vo.MachineVo">
  	<result column="id" jdbcType="VARCHAR" property="id" />
   	<result column="local_desc" jdbcType="VARCHAR" property="localDesc" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
    <result column="query_start_time" jdbcType="TIMESTAMP" property="queryStartTime" />
    <result column="query_end_time" jdbcType="TIMESTAMP" property="queryEndTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
   <association property="machineActivity" resultMap="machineActivityResultMap" />
  </resultMap>
  
  <resultMap id="machineActivityResultMap" type="com.inno72.Interact.vo.MachineActivityVo">
   	<result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
  </resultMap>
  
  <select id="selectPlanMachines" parameterType="java.util.Map" resultMap="MachineResultMap">
  	SELECT
  		CONCAT( area.province, area.city, area.district, IFNULL( l.mall, "" ), IFNULL( l.NAME, "" ) ) AS local_desc,
		m.id AS machine_id,
		m.machine_code AS machine_code,
		a.id AS activityId,
		a.name AS activityName,
		date_format( ap.start_time, '%Y-%m-%d %H:%i:%s' ) AS start_time,
		date_format( ap.end_time, '%Y-%m-%d %H:%i:%s' ) AS end_time,
		CASE WHEN <![CDATA[ap.end_time >=#{endTime}]]> THEN 1 ELSE 0 END state
	FROM
		inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
		LEFT JOIN inno72_activity_plan_machine apm ON apm.machine_id = m.id
		LEFT JOIN inno72_activity_plan ap ON ap.id = apm.activity_plan_id 
		AND ap.is_delete = 0 
		LEFT JOIN inno72_activity a ON a.id = ap.activity_id and a.is_delete = 0 
		WHERE
			m.machine_status = '4' 
		<if test="machineId !=null and machineId !='' ">
			AND m.machine_id = machineId
		</if>
		<if test="keyword !=null and keyword !='' ">
			AND (l.mall LIKE '%${keyword}%'  
			or l.name LIKE '%${keyword}%' 
			or JSON_EXTRACT(l.tag, '$.tags') LIKE '%${keyword}%'  
			or area.province LIKE '%${keyword}%' 
			or area.city LIKE '%${keyword}%' 
			or area.district LIKE '%${keyword}%' 
			)
		</if>
  </select>
  
  <select id="selectInteractMachines" parameterType="java.util.Map" resultMap="MachineResultMap">
  	SELECT
  		CONCAT( area.province, area.city, area.district, IFNULL( l.mall, "" ), IFNULL( l.NAME, "" ) ) AS local_desc,
		m.id AS machine_id,
		m.machine_code AS machine_code,
		t.id AS activityId,
		t.name AS activityName,
		date_format( mt.start_time, '%Y-%m-%d %H:%i:%s' ) AS start_time,
		date_format( mt.end_time, '%Y-%m-%d %H:%i:%s' ) AS end_time,
		CASE WHEN <![CDATA[mm.max_time >=#{endTime}]]> THEN 1 ELSE 0 END state
	FROM
		inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
		LEFT JOIN inno72_interact_machine im ON im.machine_id = m.id
		LEFT JOIN inno72_interact_machine_time mt ON mt.interact_machine_id = im.id
		LEFT JOIN inno72_interact t ON t.id = im.interact_id and t.is_delete = 0 
		LEFT JOIN (
			SELECT machine_id,MAX(mt.end_time) AS max_time FROM inno72_interact_machine m
			LEFT JOIN inno72_interact_machine_time mt ON m.id=mt.interact_machine_id
			GROUP BY m.machine_id
		) mm on m.id=mm.machine_id
		WHERE
			m.machine_status = '4' 
		<if test="keyword !=null and keyword !='' ">
			AND (l.mall LIKE '%${keyword}%'  
			or l.name LIKE '%${keyword}%' 
			or JSON_EXTRACT(l.tag, '$.tags') LIKE '%${keyword}%'  
			or area.province LIKE '%${keyword}%' 
			or area.city LIKE '%${keyword}%' 
			or area.district LIKE '%${keyword}%' 
			)
		</if>
			
  </select>
  
  <select id="selectMachineTimeDetail" parameterType="java.util.Map" resultMap="MachineResultMap">
  	SELECT
  		CONCAT( area.province, area.city, area.district, IFNULL( l.mall, "" ), IFNULL( l.NAME, "" ) ) AS local_desc,
		m.id AS machine_id,
		m.machine_code AS machine_code,
		im.state,
		im.query_start_time,
		im.query_end_time,
		t.id AS activityId,
		t.name AS activityName,
		date_format( mt.start_time, '%Y-%m-%d %H:%i:%s' ) AS start_time,
		date_format( mt.end_time, '%Y-%m-%d %H:%i:%s' ) AS end_time
		
	FROM
		inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
		LEFT JOIN inno72_interact_machine im ON im.machine_id = m.id
		LEFT JOIN inno72_interact_machine_time mt ON mt.interact_machine_id = im.id
		LEFT JOIN inno72_interact t ON t.id = im.interact_id and t.is_delete = 0 
		WHERE
			m.machine_status = '4' 
		<if test="machineId !=null and machineId !='' ">
			AND m.machine_id = machineId
		</if>
		<if test="interactId !=null and interactId !='' ">
			AND im.interact_id = interactId
		</if>
  </select>
  
  
  <insert id="insertInteractMachineList" parameterType="java.util.List">
        insert into inno72_interact_machine (id, interact_id,machine_id)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.interactId},#{t.machineId})
        </foreach>
    </insert>
    
    
    <select id="getHavingMachines" parameterType="java.util.Map" resultMap="MachineResultMap">
	  	SELECT
			im.id,
			CONCAT( area.province, area.city, area.district, IFNULL( l.mall, "" ), IFNULL( l.NAME, "" ) ) AS local_desc,
			m.machine_code,
			m.id AS machine_id 
		FROM
			inno72_interact_machine im
			LEFT JOIN inno72_machine m ON m.id = im.machine_id
			LEFT JOIN inno72_locale l ON l.id = m.locale_id
			LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
		WHERE
			im.interact_id = #{interactId}
			<if test="keyword !=null and keyword !='' ">
				AND (l.mall LIKE '%${keyword}%'  
				or l.name LIKE '%${keyword}%' 
				or JSON_EXTRACT(l.tag, '$.tags') LIKE '%${keyword}%'  
				or area.province LIKE '%${keyword}%' 
				or area.city LIKE '%${keyword}%' 
				or area.district LIKE '%${keyword}%' 
				or m.machine_code LIKE '%${keyword}%' 
				)
		</if>
  	</select>
  
  
</mapper>