<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.Interact.mapper.Inno72InteractMerchantMapper">
  <resultMap id="BaseResultMap" type="com.inno72.Interact.model.Inno72InteractMerchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interact_id" jdbcType="VARCHAR" property="interactId" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
  </resultMap>
  
  <resultMap id="InteractMerchantVoResultMap" type="com.inno72.Interact.vo.InteractMerchantVo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interact_id" jdbcType="VARCHAR" property="interactId" />
    <result column="shops_id" jdbcType="VARCHAR" property="shopsId" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
    
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
  </resultMap>
  
  <select id="selectMerchantByInteractId" parameterType="String" resultMap="InteractMerchantVoResultMap">
		SELECT
			m.id,
			m.merchant_code,
			m.merchant_name 
		FROM
			inno72_interact_merchant im
			LEFT JOIN inno72_merchant m ON m.id = im.merchant_id
		WHERE m.is_delete = 0 
			AND im.interact_id = #{interactId}
  </select>
  
  
  <select id="findMachineSellerId1" resultType="com.inno72.Interact.vo.MachineSellerVo">
  	SELECT
		distinct im.machine_code AS machineCode,m.merchant_code AS sellerId ,area.province,area.city,l.`name` AS area
	FROM
		inno72_interact_machine im
		JOIN inno72_interact_machine_goods img ON im.id = img.interact_machine_id
		LEFT JOIN inno72_machine mm ON mm.id = im.machine_id
		LEFT JOIN inno72_goods g ON g.id = img.goods_id
		LEFT JOIN inno72_merchant m ON g.seller_id = m.id 
		LEFT JOIN inno72_locale l ON l.id = mm.locale_id
		LEFT JOIN inno72_admin_area area ON area.`code`=l.area_code
	WHERE
		img.type = 0 and im.interact_id =#{activityId}
  </select>
  <select id="findMachineSellerId2" resultType="com.inno72.Interact.vo.MachineSellerVo">
  	SELECT 
		distinct m.machine_code,ms.merchant_code,area.province,area.city,l.`name` AS area
	FROM
		inno72_activity_plan_game_result apg
		LEFT JOIN inno72_activity_plan ap ON ap.id = apg.activity_plan_id
		LEFT JOIN inno72_activity_plan_machine apm ON apm.activity_plan_id = apg.activity_plan_id
		LEFT JOIN inno72_machine m ON m.id = apm.machine_id
		LEFT JOIN inno72_goods g ON g.id = apg.prize_id
		LEFT JOIN inno72_merchant ms ON ms.id = g.seller_id 
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.`code`=l.area_code
	WHERE
		m.machine_status = 4 AND ap.is_delete = 0 
		AND apg.prize_type = 1 AND ap.activity_id=#{activityId}
  </select>
  
  
  
  
</mapper>