<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.Interact.mapper.Inno72InteractShopsMapper">
  <resultMap id="BaseResultMap" type="com.inno72.Interact.model.Inno72InteractShops">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interact_id" jdbcType="VARCHAR" property="interactId" />
    <result column="shops_id" jdbcType="VARCHAR" property="shopsId" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
  </resultMap>
  
  <resultMap id="InteractShopsVoResultMap" type="com.inno72.Interact.vo.ShopsVo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_code" jdbcType="VARCHAR" property="shopCode" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  
  <!-- 获取客户下商户 -->
  <select id="getShopsList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			s.id,
			s.shop_code AS shopCode,
			s.shop_name AS shopName
		FROM
			inno72_shops s
		<where>
          <if test="sellerId != null and sellerId != ''">AND s.seller_id=#{sellerId}</if>
       		and s.id not in ( 
				SELECT isp.shops_id FROM inno72_interact_shops isp 
				WHERE isp.interact_id=#{interactId}
			)
       </where>
  </select>
  
  <insert id="insertInteractShopsList" parameterType="java.util.List">
        insert into inno72_interact_shops (id,interact_id,shops_id,is_vip)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.interactId},#{t.shopsId},#{t.isVip})
        </foreach>
  </insert>
  
  <select id="selectInteractShopsById" parameterType="String" resultMap="InteractShopsVoResultMap">
		SELECT
			s.*,
			isp.is_vip
		FROM
			inno72_interact_shops isp
			LEFT JOIN inno72_shops s ON s.id = isp.shops_id
			WHERE isp.shops_id=#{id}
  </select>
  
  <select id="selectMerchantShops" parameterType="java.util.Map" resultMap="InteractShopsVoResultMap">
	 	SELECT
			s.*,
			isp.is_vip,
			m.merchant_name 
		FROM
			inno72_interact_shops isp
			LEFT JOIN inno72_shops s ON s.id = isp.shops_id
			LEFT JOIN inno72_merchant m ON m.id = s.seller_id 
		WHERE s.is_delete=0
		<if test="sellerId !=null and sellerId !='' ">and s.seller_id = #{sellerId}</if>
		<if test="interactId !=null and interactId !='' ">and isp.interact_id = #{interactId}</if>
  </select>
  
  <resultMap id="InteractShopsTreeResultMap" type="com.inno72.Interact.vo.TreeVo">
    <result column="id" jdbcType="VARCHAR" property="key" />
    <result column="name" jdbcType="VARCHAR" property="title" />
   
  </resultMap>
  
  <select id="selectMerchantShopsTree" parameterType="java.util.Map" resultMap="InteractShopsTreeResultMap">
	 	SELECT
	 		s.id,
			s.shop_name AS name
		FROM
			inno72_shops s
		WHERE s.is_delete=0
		<if test="sellerId !=null and sellerId !='' ">and s.seller_id = #{sellerId}</if>
  </select>
  
  
  
  
</mapper>