<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.Interact.mapper.Inno72MachineEnterMapper">
  <resultMap id="BaseResultMap" type="com.inno72.Interact.model.Inno72MachineEnter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
    <result column="enter_type" jdbcType="VARCHAR" property="enterType" />
    <result column="enter_status" jdbcType="INTEGER" property="enterStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
  </resultMap>
  
  
  
  <insert id="insetMachineEnterList" parameterType="java.util.List">
        insert into inno72_machine_enter (id,machine_id,machine_code,enter_type,enter_status,create_id)
        values
        <foreach collection="list" item="t" index="index" separator=",">
            (#{t.id}, #{t.machineId},#{t.machineCode},#{t.enterType},#{t.enterStatus},#{t.createId})
        </foreach>
  </insert>
  
   <resultMap id="VoResultMap" type="com.inno72.Interact.vo.MachineEnterVo">
    
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
    <result column="local_desc" jdbcType="VARCHAR" property="localDesc" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <association property="enterList" resultMap="enterResult" />
  </resultMap>
   <resultMap id="enterResult" type="java.util.Map">
	  <result column="enter_status" property="enterStatus" />
	  <result column="enter_type" property="enterType"/>
  </resultMap>
  
  
  <select id="selectByPage" parameterType="java.util.Map" resultMap="VoResultMap">
  	SELECT
		im.machine_id,im.machine_code,
		CONCAT( area.province, area.city, area.district, IFNULL( l.mall, "" ), IFNULL( l.NAME, "" ) ) AS local_desc,
		me.enter_status,
		me.enter_type
	FROM
		inno72_interact_machine im
		LEFT JOIN inno72_machine_enter me ON me.machine_id = im.machine_id
		LEFT JOIN inno72_machine m ON m.id = im.machine_id
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code
	<where>
	<if test="interactId != null and interactId !=''">
        im.interact_id = #{interactId}
      </if>
      <if test="machineCode != null and machineCode !=''">
        and m.machine_code = #{machineCode}
      </if>
      <if test="enterStatus != null and enterStatus !=''">
        and me.enter_status = #{enterStatus}
      </if>
    </where>
		
  </select>
  <select id="selectMachineEnterList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT
		me.* 
	FROM
		inno72_machine_enter me 
	LEFT JOIN inno72_interact_machine im ON im.machine_id=me.machine_id
	where me.enter_status=0 
	<if test="interactId != null and interactId !=''">
        and im.interact_id = #{interactId}
    </if>
    <if test="enterType != null and enterType !=''">
        and me.enter_type = #{enterType}
    </if>
		
  </select>
  
  <select id="selectMachineAddress" parameterType="string" resultType="java.util.Map">
  	SELECT
		m.id AS machineId,m.machine_code AS machineCode,area.district,
		CONCAT( area.province, area.city, area.district, IFNULL( l.mall, "" ), IFNULL( l.NAME, "" ) ) AS address
	FROM
		inno72_machine m
		LEFT JOIN inno72_locale l ON l.id = m.locale_id
		LEFT JOIN inno72_admin_area area ON area.CODE = l.area_code 
	WHERE
		m.id = #{machineId} LIMIT 1
  </select>
  
  
  
  
  
</mapper>